<ngx-altea-search-product [multi]="true" #searchProductModal
    (selectMulti)="productsSelected($event)"></ngx-altea-search-product>
<!-- (select)="addNewProductItem($event)"
-->


<app-loyalty-reward #rewardModal (save)="saveReward($event)"></app-loyalty-reward>

<ng-container *ngIf="object">

    <ngx-altea-delete-modal #deleteModal objectType="resource" [object]="object" [objectSvc]="loyaltyProgramSvc"
        [config]="deleteConfig"></ngx-altea-delete-modal>

    <div class="row">
        <div class="col-9">
            <h4>{{'objects.loyalty.program._single' | translate}} {{object.name}}</h4>
        </div>
        <div class="col-3">

            <div class="d-inline-block float-end" ngbDropdown #myDrop="ngbDropdown">
                <button type="button" class="btn btn-outline-primary me-2" id="dropdownManual" ngbDropdownAnchor
                    (focus)="myDrop.open()">
                    Acties
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownManual">
                    <button ngbDropdownItem (click)="delete()"><i class="fa-duotone fa-trash me-1"></i>
                        Verwijderen</button>
                </div>
            </div>

        </div>

    </div>


    <ngx-altea-form-card-section sectionName="{{'objects.loyalty.program._single' | translate}} {{object.name}}"
        sectionId="general" [editSectionId]="editSectionId" (save)="save()" (cancel)="cancel()"
        (editModeChanged)="editModeChanged($event)" [enableSave]="isDirty()">
        <ng-container readonly>
            <!-- <div>{{ object.descr }}</div> -->



            <div class="row">
                <div class="col-6"> <ngx-altea-label-value label="objects.loyalty.program.name"
                        [value]="object.name"></ngx-altea-label-value> </div>

                <div class="col-6"> <ngx-altea-label-value label="objects.loyalty.program.track" valueFormat="translate"
                        prefix="enums.loyalty-unit." [value]="object.track"></ngx-altea-label-value> </div>
            </div>

            <div class="row mt-3">
                <div class="col-6">

                    <b translate [style.color]="sessionSvc.colors.green">objects.loyalty.program.ui.inclusive</b>


                    <div class="mt-2" [style.color]="sessionSvc.colors.green" translate>objects.loyalty.program.ui.cats
                    </div>

                    <div class="mt-2 ms-2">


                        <span *ngIf="!object.hasIncludedCategories()" translate>objects.loyalty.program.ui.no-cat</span>
                        <div *ngFor="let cat of object.includedCategories()"><i class="fa-duotone fa-square-check"
                                [style.color]="sessionSvc.colors.green"></i> &nbsp;<span
                                translate>{{'objects.loyalty.program.' +
                                cat}}</span>
                        </div>

                    </div>

                    <div class="mt-2" [style.color]="sessionSvc.colors.green" translate>objects.loyalty.program.ui.prods
                    </div>
                    <div class="mt-2 ms-2">

                        <span *ngIf="!object.hasIncl()" translate>objects.loyalty.program.ui.no-prod</span>
                        <div *ngFor="let prodIncl of object.incl; let idx = index"><i class="fa-duotone fa-square-check"
                                [style.color]="sessionSvc.colors.green"></i> &nbsp;{{prodIncl.name}}
                        </div>

                    </div>




                </div>

                <div class="col-6">

                    <b translate [style.color]="sessionSvc.colors.red">objects.loyalty.program.ui.exclusive</b>


                    <div class="mt-2" [style.color]="sessionSvc.colors.red" translate>objects.loyalty.program.ui.cats
                    </div>

                    <div class="mt-2 ms-2">

                        <span *ngIf="!object.hasExcludedCategories()" translate>objects.loyalty.program.ui.no-cat</span>
                        <div *ngFor="let cat of object.excludedCategories()"><i class="fa-duotone fa-square-xmark"
                                [style.color]="sessionSvc.colors.red"></i> &nbsp;<span
                                translate>{{'objects.loyalty.program.' +
                                cat}}</span>
                        </div>
                    </div>


                    <div class="mt-2" [style.color]="sessionSvc.colors.red" translate>objects.loyalty.program.ui.prods
                    </div>
                    <div class="mt-2 ms-2">

                        <span *ngIf="!object.hasExcl()" translate>objects.loyalty.program.ui.no-prod</span>
                        <div *ngFor="let prodExcl of object.excl; let idx = index"><i class="fa-duotone fa-square-check"
                                [style.color]="sessionSvc.colors.red"></i> &nbsp;{{prodExcl.name}}
                        </div>

                    </div>





                </div>

            </div>



            <!-- 
            <div class="row mt-3">
                <div class="col-6">

                    <b translate>objects.loyalty.program.ui.cat</b>

                    <div class="mt-2 ms-2">


                        <div *ngFor="let cat of object.includedCategories()"><i class="fa-duotone fa-square-check"
                                style="color: green;"></i> &nbsp;<span translate>{{'objects.loyalty.program.' +
                                cat}}</span>
                        </div>
                        <div *ngFor="let cat of object.excludedCategories()"><i class="fa-duotone fa-square-xmark"
                                style="color: red;"></i> &nbsp;<span translate>{{'objects.loyalty.program.' +
                                cat}}</span>
                        </div>
                    </div>



                </div>
            </div> -->

            <!-- 
            <div class="row mt-3">
                <div class="col-6">
                    <b translate>objects.loyalty.program.ui.incl</b>
                    <div class="mt-2 ms-2">

                        <span *ngIf="!object.hasIncl()" translate>objects.loyalty.program.ui.no-prod</span>
                        <div *ngFor="let prodIncl of object.incl; let idx = index"><i class="fa-duotone fa-square-check"
                                style="color: green;"></i> &nbsp;{{prodIncl.name}}
                        </div>

                    </div>
                </div>

                <div class="col-6">
                    <b translate>objects.loyalty.program.ui.excl</b>
                    <div class="mt-2 ms-2">

                        <span *ngIf="!object.hasExcl()" translate>objects.loyalty.program.ui.no-prod</span>
                        <div *ngFor="let prodExcl of object.excl; let idx = index"><i class="fa-duotone fa-square-check"
                                style="color: red;"></i> &nbsp;{{prodExcl.name}}
                        </div>

                    </div>
                </div>
            </div>
 -->

        </ng-container>
        <ng-container edit>

            <form #generalForm="ngForm">


                <div class="row">
                    <div class="col d-flex justify-content-end">
    
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="act" name="act"
                                [(ngModel)]="object.act" />
                            <label class="form-check-label" for="act" translate="objects.act"></label>
                        </div>
    
    
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        <ngx-altea-label-control label="objects.loyalty.program.name" for="name">
                            <input id="name" name="name" required class="form-control" [(ngModel)]="object.name" />
                        </ngx-altea-label-control>
                    </div>

                    <div class="col-4">
                        <ngx-altea-label-control label="objects.loyalty.program.track" for="track">
                            <ng-select id="track" name="track" *ngIf="initialized" [items]="loyaltyUnit"
                                bindLabel="trans" bindValue="key" [clearable]="false" [multiple]="false"
                                [(ngModel)]="object.track"></ng-select>
                        </ngx-altea-label-control>
                    </div>

                    <div class="col-2">
                        <ngx-altea-label-control label="objects.loyalty.program.idx" for="idx">
                            <input id="idx" name="idx" type="number" required class="form-control"
                                [(ngModel)]="object.idx" />
                        </ngx-altea-label-control>
                    </div>

                </div>

                <div class="row mt-5">

                    <b translate>objects.loyalty.program.help.cat</b>
                    <i translate>objects.loyalty.program.help.catx</i>
                </div>


                <div class="row {{css_cls_row}}">
                    <div class="col">
                        <div class="form-check form-switch">
                            <input type="checkbox" class="form-check-input" id="prod" name="prod"
                                [(ngModel)]="object.prod">
                            <label class="form-check-label" for="prod" translate="objects.loyalty.program.prod"></label>
                        </div>
                    </div>
                </div>

                <div class="row {{css_cls_row}}">
                    <div class="col">
                        <div class="form-check form-switch">
                            <input type="checkbox" class="form-check-input" id="svc_basic" name="svc_basic"
                                [(ngModel)]="object.svc_basic">
                            <label class="form-check-label" for="svc_basic"
                                translate="objects.loyalty.program.svc_basic"></label>
                        </div>
                    </div>
                </div>


                <div class="row {{css_cls_row}}">
                    <div class="col">
                        <div class="form-check form-switch">
                            <input type="checkbox" class="form-check-input" id="svc_bundle" name="svc_bundle"
                                [(ngModel)]="object.svc_bundle">
                            <label class="form-check-label" for="svc_bundle"
                                translate="objects.loyalty.program.svc_bundle"></label>
                        </div>
                    </div>
                </div>

                <div class="row {{css_cls_row}}">
                    <div class="col">
                        <div class="form-check form-switch">
                            <input type="checkbox" class="form-check-input" id="svc_subs" name="svc_subs"
                                [(ngModel)]="object.svc_subs">
                            <label class="form-check-label" for="svc_subs"
                                translate="objects.loyalty.program.svc_subs"></label>
                        </div>
                    </div>
                </div>

                <div class="row {{css_cls_row}}">
                    <div class="col">
                        <div class="form-check form-switch">
                            <input type="checkbox" class="form-check-input" id="promo" name="promo"
                                [(ngModel)]="object.promo">
                            <label class="form-check-label" for="promo"
                                translate="objects.loyalty.program.promo"></label>
                        </div>
                    </div>
                </div>


                <div class="row mt-5">

                    <b translate>objects.loyalty.program.help.incl-excl</b>

                </div>

                <div class="row mt-3">

                    <div class="col-6">
                        Inclusief:

                        <ul class="list-group">

                            <ng-container *ngIf="object.hasIncl()">
                                <li class="list-group-item" *ngFor="let loyaltyProduct of object.incl; let idx = index">
                                    {{loyaltyProduct.name}}

                                    <i class="fas fa-trash float-end"
                                        (click)="deleteProduct('incl', loyaltyProduct, idx)"></i>
                                </li>
                            </ng-container>

                            <li class="list-group-item" style="text-align: center; cursor: pointer;"
                                (click)="addProducts('incl')">
                                <i class="fa-duotone fa-circle-plus fa-xl"></i> &nbsp; {{
                                'dic.add' |
                                translate
                                }}
                            </li>


                        </ul>


                    </div>



                    <div class="col-6">
                        Exclusief:

                        <ul class="list-group">

                            <ng-container *ngIf="object.hasExcl()">
                                <li class="list-group-item" *ngFor="let loyaltyProduct of object.excl; let idx = index">
                                    {{loyaltyProduct.name}}

                                    <i class="fas fa-trash float-end"
                                        (click)="deleteProduct('excl', loyaltyProduct, idx)"></i>
                                </li>
                            </ng-container>

                            <li class="list-group-item" style="text-align: center; cursor: pointer;"
                                (click)="addProducts('excl')">
                                <i class="fa-duotone fa-circle-plus fa-xl"></i> &nbsp; {{
                                'dic.add' |
                                translate
                                }}
                            </li>


                        </ul>


                    </div>



                </div>



            </form>

            <!--             <div class="row mt-5">

                <div class="col-12">
                    Rewards:

                    <ng-container *ngIf="object.rewards">

                        <ng-container *ngFor="let reward of object.rewards; let idx = index">

                            <div class="row mt-2">
                                <div class="col-3">
                                    {{'enums.loyalty-reward-type.' + reward.type | translate}}
                                </div>
                                <div class="col-1">
                                    {{reward.amount}}
                                </div>
                                <div class="col-3">
                                    {{reward.name}}
                                </div>
                                <div class="col-3">
                                    <span *ngIf="reward.type == 'discount'">{{reward.discount}}</span>
                                    <span
                                        *ngIf="(reward.type == 'productDiscount' || reward.type == 'freeProduct') && reward.product">{{reward.product.name}}</span>
                                </div>
                                <div class="col">
                                    <i class="fas fa-pen float-end" (click)="editReward(reward, idx)"></i>
                                    <i class="fas fa-trash float-end me-2" (click)="deleteReward(reward, idx)"></i>
                                </div>
                            </div>



                        </ng-container>

                    </ng-container>




                    <button type="button" class="btn btn-primary btn-sm" (click)="startNewReward()">New reward</button>




                </div>
            </div> -->





        </ng-container>

    </ngx-altea-form-card-section>


    <!--     [icon]="ResourceTypeIcons[object.type]"
    [enableSave]="!resourceGeneralForm.form.pristine && resourceGeneralForm.form.valid"
 -->
    <ngx-altea-form-card-section sectionName="objects.loyalty.reward._plural" sectionId="rewards"
        [editSectionId]="editSectionId" (save)="save()" (cancel)="cancel()" (editModeChanged)="editModeChanged($event)">

        <ng-container readonly>

        </ng-container>


        <ng-container always>

            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col" *ngFor="let reward of object.rewards; let idx = index">
                    <div class="card text-bg-success">
                        <div class="card-header text-bg-success" style="font-size: 1.0rem;"><b>{{reward.name}}</b>
                            <b class="float-end">{{reward.amount}}</b>
                        </div>
                        <div class="card-body">

                            <div class="row mt-2">
                                <div class="col">
                                    {{'enums.loyalty-reward-type.' + reward.type | translate}}
                                </div>
                            </div>

                            <div class="row mt-2" *ngIf="reward.hasDiscount()">
                                <div class="col">
                                    <span translate>objects.loyalty.reward.discount</span>: € {{reward.discount}}
                                </div>
                            </div>

                            <ng-container *ngIf="reward.product">
                                <div class="row mt-2">
                                    <div class="col">
                                        {{reward.product.name}}
                                    </div>
                                </div>



                                <ng-container *ngIf="reward.hasProductOptions()">

                                    <ul>
                                        <li *ngFor="let option of reward.product.options; let idx = index">
                                            {{option.name}}: {{option.valueNames()}}
                                        </li>
                                    </ul>

                                    <!--                                     <ng-container *ngFor="let option of reward.product.options; let idx = index">

                                        <div class="row mt-2">
                                            
                                            <div class="col ms-3">
                                                
                                            </div>
                                        </div>

                                    </ng-container> -->
                                </ng-container>

                            </ng-container>




                            <div class="row mt-2" *ngIf="this.sectionInEditIs('rewards')">
                                <div class="col">

                                    <button type="button" class="btn btn-light float-end"
                                        (click)="editReward(reward, idx)" translate>dic.edit</button>


                                </div>
                            </div>



                            <!-- 
                            <h5 class="card-title"></h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                    </div>
                </div>
            </div>






        </ng-container>

        <ng-container edit>

            <div class="row mt-2">

                <div class="col">

                    <button type="button" class="btn btn-primary float-end" (click)="startNewReward()"
                        translate>objects.loyalty.reward.ui.new</button>
                </div>
            </div>


        </ng-container>

    </ngx-altea-form-card-section>





</ng-container>