


<div class="row">
    <div class="col-4">
        
        <button type="button" class="btn btn-primary btn-sm" (click)="searchWithModal()">Contact zoeken</button>


        <br>
        <span *ngIf="selectedContact">{{selectedContact.name}}</span>
        

        <altea-search-contact #searchContactModal [modal]="true" (contactSelected)="setContact($event)"></altea-search-contact>


        <br>
        <button type="button" class="btn btn-primary btn-sm" (click)="cancelExpiredDeposists()">Cancel deposits</button>
    </div>
    <div class="col-8">

 

<altea-lib-redeem-gift></altea-lib-redeem-gift>

=====

<altea-lib-request-gift></altea-lib-request-gift>

        <altea-lib-main-menu (select)="menuClicked($event)"></altea-lib-main-menu>

       
    </div>      
  </div>

