
<!-- <altea-lib-upload></altea-lib-upload> -->


<order-mgr-contact-select2></order-mgr-contact-select2>

<div class="row">


    <div class="col-4">
        <button type="button" class="btn btn-primary btn-sm" (click)="createUser()">Create user</button>


        <button type="button" class="btn btn-primary btn-sm" (click)="export()">Export</button>


        <button type="button" class="btn btn-primary btn-sm" (click)="createGiftCode()">Gift: {{giftCode}}</button> 


        <button type="button" class="btn btn-primary btn-sm" (click)="filterProducts()">Products</button>

        <button type="button" class="btn btn-primary btn-sm" (click)="refreshCaches()">Refresh caches</button>

        <button type="button" class="btn btn-primary btn-sm" (click)="differenceInWeeks()">Date diff</button>

        <button type="button" class="btn btn-primary btn-sm" (click)="sendSms()">Send SMS</button>

<!--         <button type="button" class="btn btn-primary btn-sm" (click)="searchWithModal()">Contact zoeken</button>


        <br>
        <span *ngIf="selectedContact">{{selectedContact.name}}</span>


        <altea-search-contact #searchContactModal [modal]="true"
            (contactSelected)="setContact($event)"></altea-search-contact>


        <br>
        <button type="button" class="btn btn-primary btn-sm" (click)="cancelExpiredDeposists()">Cancel deposits</button> -->
    </div>
    <div class="col-8">

        <!--         <div class="row {{css_cls_row}}">
            <div class="col">
                <ng-select *ngIf="country" id="country" name="country" [items]="country" bindLabel="trans"
                    bindValue="key"></ng-select>
            </div>
        </div>


        <ng-select *ngIf="countries.length > 0" id="country" name="country" [items]="countries" bindLabel="trans" bindValue="key" [clearable]="false"
            [multiple]="false">
        </ng-select> -->

       
<!--         <altea-lib-request-invoice></altea-lib-request-invoice> -->

<!--         <order-mgr-send-offer></order-mgr-send-offer>
        <order-mgr-search-contact></order-mgr-search-contact> -->
        <!-- 
        

        <altea-lib-redeem-gift></altea-lib-redeem-gift>

        <altea-lib-request-gift></altea-lib-request-gift>

        <altea-lib-main-menu (select)="menuClicked($event)"></altea-lib-main-menu> -->


    </div>
</div>