<ngx-altea-new-contact #newModal></ngx-altea-new-contact>



<div class="row mb-4">
    <div class="col-12">
        <h3>{{ 'menu.contacts.label' | translate }}</h3>
    </div>
</div>


<div class="row">
    <div class="col-12 d-flex justify-content-center">
        <ul class="list-group" style="width: 100%;" *ngIf="objects">
            <li class="list-group-item" *ngFor="let contact of objects" (click)="select(contact)">

                <!-- <i class="{{ResourceTypeIcons[contact.type]}}"></i> &nbsp;  -->
                {{ contact.name }}

                <!-- <i class="fa-solid fa-circle float-end" [style.color]="contact.color"></i> -->

            </li>
        </ul>
    </div>

</div>