<ngx-altea-new-contact #newModal></ngx-altea-new-contact>



<div class="row mb-4">
    <div class="col-12">
        <h3>{{ 'menu.contacts.label' | translate }}</h3>
    </div>
</div>


<div class="row">
    <div class="col-12 d-flex justify-content-center">
        <ul class="list-group" style="width: 100%;" *ngIf="objects">
            <li class="list-group-item" *ngFor="let contact of objects" (click)="select(contact)">

                <!-- <i class="{{ResourceTypeIcons[contact.type]}}"></i> &nbsp;  -->
               <!--  {{ contact.name }} -->

                <!-- <i class="fa-solid fa-circle float-end" [style.color]="contact.color"></i> -->

                <div class="row">
                    <div class="col-12">{{contact.name}} <span *ngIf="contact?.mobile" class="float-end"><i
                                class="fa-light fa-mobile"></i> &nbsp;{{contact?.mobile}}</span></div>

                </div>

                <div class="row">
                    <div class="col-12">
                        <span *ngIf="contact?.email"><i class="fa-duotone fa-solid fa-envelope"></i>
                            &nbsp;{{contact?.email}}</span>
                    </div>

                </div>



            </li>
        </ul>
    </div>

</div>