<div class="row">

    <!--     -->
    <div class="col-3"><input type="text" placeholder="Datepicker" class="form-control" bsDatepicker
            (bsValueChange)="dateChanged($event)" [(ngModel)]="date">
    </div>

    <div class="col">
        
        <button type="button" class="btn btn-primary btn-sm" (click)="debug()">Debug</button>

        <button type="button" class="btn btn-primary btn-sm" (click)="runWellness()">Wellness</button>

        <button type="button" class="btn btn-primary btn-sm ms-3" (click)="runDoorEntry()">Doors</button>

        <button type="button" class="btn btn-primary btn-sm ms-3" (click)="deleteEvents()">Delete</button>

        <button type="button" class="btn btn-primary btn-sm ms-3" (click)="truncateEvents()">Truncate</button>

        <button type="button" class="btn btn-primary btn-sm ms-3" (click)="dialogflowWebhook()">Dialogflow
            webhook</button>
    </div>
    <!--   <div class="col-3"></div>
    <div class="col-3"></div> -->
</div>






<ng-container *ngIf="events">


    <div class="row mt-3">
        <div class="col-4">

            <h4>Events</h4>

            <ul class="list-group">
                <li class="list-group-item" *ngFor="let event of events" (click)="toggleEvent(event)">

                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-12">{{event.type}}</div>
                                <div class="col-12">{{event.jsDate() | date:"dd/MM/yyyy HH:mm"}} </div>
                            </div>

                        </div>
                        <div class="col-6">
                            <div class="row" *ngIf="event.custom">
                                <div class="col-12" *ngFor="let key of Object.keys(event.custom)">
                                    {{event.custom[key]}}
                                </div>
                            </div>  

                        </div>
                    </div>


                </li>
            </ul>

        </div>
        <div class="col-4">

            <ng-container *ngIf="jobs">

                <h4>Jobs</h4>

                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let job of jobs" (click)="toggleJob(job)">

                        <div class="row">
                            <div class="col-12">{{job.name}}</div>
                            <div class="col-12">{{job.jsDate() | date:"dd/MM/yyyy HH:mm"}} </div>
                            <div class="col-12">{{job.status}} </div>
                        </div>

                    </li>
                </ul>





            </ng-container>




        </div>
        <div class="col-4">

            <ng-container *ngIf="job">

                <h4>Job actions</h4>

                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let action of job.actions">

                        <div class="row">
                            <div class="col-8">{{action.type}}</div>

                            <div class="col-4">
                                <button type="button" class="btn btn-primary btn-sm"
                                    (click)="executeAction(action, job)">
                                    <i class="fa-solid fa-play"></i> &nbsp; Run</button>
                            </div>



                            <div class="col-12">

                                <ng-container [ngSwitch]="action.type">
                                    <ng-container *ngSwitchCase="'luxom'">
                                        {{action.args['addr']['info']}}
                                        [{{action.args['addr']['grp']}}.{{action.args['addr']['addr']}}]
                                        cmd={{action.args['cmd']}}
                                    </ng-container>
                                    <ng-container *ngSwitchCase="'doorAccess'">
                                        enable={{action.args['enable']}} <br>
                                        doors={{action.args['doors']}} <br>
                                        contact=<a
                                            [routerLink]="['/', 'aqua','contacts', action.args['contactId']]">{{action.args['contactName']}}</a>
                                        <br>
                                        code={{action.args['code']}} <br>
                                        orderId=<a
                                            [routerLink]="['/', 'aqua','orders', 'manage', action.args['orderId']]">{{action.args['orderId']}}</a>

                                    </ng-container>
                                    <ng-container *ngSwitchDefault>
                                    </ng-container>
                                </ng-container>

                            </div>



                            <!--
                            [{"args": {"code": "5776", "doors": ["gr17a"], "enable": true, "orderId": "44f457d5-341a-4d14-87d1-b6c697a80880", "contactId": "1311dbd6-73b2-44c1-9dca-8d222c0c8387", "contactName": "Ingrid Vandeputte"}, 
                            "type": "doorAccess"}]
                            -->





                        </div>

                    </li>
                </ul>




            </ng-container>


        </div>
    </div>






</ng-container>