<ul class="list-group">
    <li class="list-group-item" *ngFor="let task of tasks" (click)="selectTask(task)">




        <div class="row">

            <div class="col-6">{{task.loc}}: {{task.name}}</div>
<!--             <div class="col-6"><span class="float-end"></span></div> -->

        </div>


        <div class="row mt-2" *ngIf="task.info">
            <div class="col" style="text-align: center; font-style: italic; font-size: smaller;">
                {{task.info}}
            </div>
        </div>

        <div class="row mt-2">

            <div class="col-6"></div>
            <div class="col-6">

                <span class="badge text-bg-info float-end ms-2" *ngIf="task.status == TaskStatus.progress"><i
                    class="fa-solid fa-rotate"></i> &nbsp;{{task.origSched}}</span>

                
                <span class="badge text-bg-success float-end  ms-2" *ngIf="task.status == TaskStatus.progress"><i
                        class="fa-solid fa-rotate"></i> &nbsp; Bezig</span>

            </div>

        </div>

<!--         <ng-container *ngIf="task.id != selectedId">
        </ng-container> -->

        <ng-container *ngIf="task.id == selectedId">

            <app-task [task]="task" (close)="closeTask($event)"></app-task>

        </ng-container>

    </li>
</ul>