<!-- 
(bsValueChange)="rangePickerChanged($event)" -->

<ng-template #deleteModal let-modal>

    <div class="modal-header">
        <h4>{{ 'ui.order.delete.title' | translate }}</h4>
    </div>
    <div class="modal-body">

        <button type="button" class="btn btn-primary float-end" (click)="confirmDelete(modal)" translate>dic.confirm</button>

        <button type="button" class="btn btn-primary float-end me-2" (click)="cancelDelete(modal)" translate>dic.cancel</button>
    </div>
</ng-template>


<div class="row mb-4" *ngIf="initialized">
    <div class="col-2">

        <div class="row">
            <div class="col-10 me-1 pe-0">
                <input class="form-control" *ngIf="dateRange" placeholder="Datepicker" bsDatepicker
                    [(ngModel)]="dateRange[0]" (bsValueChange)="dateChange($event)">
            </div>
            <div class="col ms-1 ps-0 d-flex align-items-center">
                <i class="fa-solid fa-circle-xmark" (click)="dateChange(null, true)"></i>
            </div>
        </div>


        <!-- To select date range
        <input class="form-control" #drp="bsDaterangepicker" bsDaterangepicker [(ngModel)]="dateRange" [bsConfig]="{useUtc: true}" onkeydown="return false">
 -->
    </div>
    <!--     <div class="col-1">
       
    </div> -->
    <div class="col-2">
        <ng-select *ngIf="searchTypeSelect && searchTypeSelect.length > 0" id="searchTypeSelect" name="searchTypeSelect"
            [items]="searchTypeSelect" bindLabel="trans" bindValue="key" [clearable]="false" [multiple]="false"
            [(ngModel)]="orderSearch.typeSelect">
        </ng-select>
    </div>

    <div class="col-2">

        <ng-select id="orderState" name="orderState" [items]="orderState" bindLabel="trans" bindValue="key"
            [clearable]="false" [multiple]="true" [(ngModel)]="orderSearch.states"></ng-select>


    </div>

    <div class="col-2">
        <input type="text" id="searchFor" name="searchFor" class="form-control" [(ngModel)]="orderSearch.searchFor" />
    </div>

   

    <div class="col-2">

        <i class="fa-sharp fa-solid fa-circle-exclamation" style="color: red" (click)="showAttentionOrders()"></i>

        <button type="button" class="btn btn-primary btn-sm mx-2" (click)="startSearch()" translate>dic.search</button>

        <button type="button" class="btn btn-primary btn-sm mx-2" (click)="cancelProblems()" translate>Cancels</button>
    </div>
</div>



<ng-container *ngIf="objects">

    <ng-container *ngFor="let uiOrder of uiOrders">

        <!-- showDetails openOrder -->
        <div class="row mb-1">
            <div class="col-3" (click)="openOrder(uiOrder)">
                <!-- <i class="fa-solid fa-magnifying-glass" (click)="openOrder(uiOrder)"></i> &nbsp;  -->
                <i *ngIf="uiOrder.stateIcon()" placement="top" [ngbTooltip]="uiOrder.state"
                    [style.color]="uiOrder.stateColor()" [class]="uiOrder.stateIcon()"></i>
                &nbsp;

                {{uiOrder.start| intdate}}

<!-- 
                badge text-bg-info me-2  float-end -->

                <ng-container *ngIf="uiOrder.hasVouchers()">
                    <span class="ms-2 badge text-bg-info me-2 float-end fs-7" *ngFor="let voucher of uiOrder.getVouchers()">{{voucher}} </span>
                </ng-container>


                <span *ngIf="uiOrder.invoiceNum" class="badge text-bg-info mx-3">{{uiOrder.invoiceNum}}</span>


                <span *ngIf="uiOrder.gift">{{uiOrder.giftCode}}</span>

                <i *ngIf="uiOrder.attn" class="ms-2 fa-sharp fa-solid fa-circle-exclamation" style="color: red"></i>

                <i *ngIf="uiOrder.src == 'ngApp'" style="color: gray; vertical-align: middle;"
                    class="fa-solid fa-mobile float-end"></i>
                <i *ngIf="uiOrder.gift" class="fa-duotone fa-solid fa-gift float-end"></i>


            </div>
            <div class="col-2">
                {{uiOrder.for}}
            </div>

            <div class="col-2" [style.color]="uiOrder.pay.color">{{uiOrder.pay.info}}



                <i class="fa-sharp fa-solid float-end fa-grip-dots" (click)="toggleSelected(uiOrder)"></i>
                <i class="fa-solid fa-trash float-end  me-2" *ngIf="sessionSvc.isAdmin() && isSelected(uiOrder)"
                    (click)="startDeleteOrder(uiOrder)"></i>

            </div>

            <div class="col" *ngIf="notSelected(uiOrder)">

                <!-- <i class="fas fa-trash" (click)="deleteOrder(uiOrder)"></i>&nbsp; -->

                {{uiOrder.summary}}


            </div>

            <div class="col" *ngIf="isSelected(uiOrder)">

                <div *ngFor="let line of uiOrder.lines">
                    {{line.qty}} x {{line.descr}}
                </div>





            </div>





            <!-- 
            <div class="col-1">
                <button type="button" class="btn btn-primary btn-sm" (click)="openOrder(uiOrder)" translate>dic.show</button>
            </div> -->


        </div>


        <div class="row mb-1" *ngIf="isSelected(uiOrder)">

            <div class="col-1">
                {{uiOrder.for}}
            </div>

            <div class="col-5">
                <pre>{{uiOrder.privNote}}</pre>
            </div>

        </div>

        <div class="row" *ngIf="uiOrder.state == OrderState.cancelled && uiOrder.cancel">
            <div class="col-2">
                {{uiOrder.cancel.remark}}
            </div>

            <div class="col-2">
                {{'enums.cancel-reason.' + uiOrder.cancel.reason | translate}}
            </div>

            <div class="col-2">
                <!-- <i class="fa-solid fa-circle-xmark" style="color: red;"></i> -->
                Geannuleerd:&nbsp;{{uiOrder.cancel.date | date:"dd/MM HH:mm"}}
            </div>

            <div class="col-2">
                Deadline: {{uiOrder.depoBy | intdate}}
            </div>

        </div>



    </ng-container>



</ng-container>


<!-- CARD GRID: requested to show table instead of cards

<div class="row row-cols-1 row-cols-md-2 g-4" *ngIf="objects">
    <div class="col" *ngFor="let uiOrder of uiOrders">
        <app-order-card [uiOrder]="uiOrder"></app-order-card>
    </div>

</div> 

-->