<!-- <ngx-altea-new-contact #newModal></ngx-altea-new-contact> -->



<div class="row mb-4">
    <div class="col-12">
        <h3>{{ 'menu.platform.sub.users' | translate }}</h3>
    </div>
</div>


<div class="row">
    <div class="col-12 d-flex justify-content-center">
        <ul class="list-group" style="width: 100%;" *ngIf="objects">
            <li class="list-group-item" *ngFor="let user of objects" (click)="select(user)">

                <!-- <i class="{{ResourceTypeIcons[contact.type]}}"></i> &nbsp;  -->
                <i [class]="ProviderIcon[user.prov]"></i> &nbsp; {{ user.email }}

                <!-- <i class="fa-solid fa-circle float-end" [style.color]="contact.color"></i> -->

            </li>
        </ul>
    </div>

</div>