<ng-container *ngIf="object">

    <ngx-altea-delete-modal #deleteModal objectType="resource" [object]="object" [objectSvc]="giftSvc"
        [config]="deleteConfig"></ngx-altea-delete-modal>

    <div class="row">
        <div class="col-9">
            <h4>{{'objects.gift._single' | translate}} {{object.code}}</h4>
        </div>
        <div class="col-3">

            <div class="d-inline-block float-end" ngbDropdown #myDrop="ngbDropdown">
                <button type="button" class="btn btn-outline-primary me-2" id="dropdownManual" ngbDropdownAnchor
                    (focus)="myDrop.open()">
                    Acties
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownManual">
                    <button ngbDropdownItem (click)="delete()"><i class="fa-duotone fa-trash me-1"></i>
                        Verwijderen</button>
                </div>
            </div>


        </div>

    </div>


    <!-- export class GiftMethods {
    emailFrom = false
    emailTo = false
    postal = false
    pos = false
    app = false
  } -->

    <ngx-altea-form-card-section sectionName="{{'objects.gift._single' | translate}} {{object.code}}"
        sectionId="general" [editSectionId]="editSectionId" (save)="save()" (cancel)="cancel()"
        (editModeChanged)="editModeChanged($event)"
        [enableSave]="!generalForm?.form.pristine && generalForm?.form.valid">
        <ng-container readonly>
            <!-- <div>{{ object.descr }}</div> -->

            <div class="row">
                <div class="col-3"> <ngx-altea-label-value label="objects.gift.value" [value]="object.value"
                        valueFormat="currency" [currency]="sessionSvc.currency"></ngx-altea-label-value> </div>

                <div class="col-3"><span class="badge rounded-pill text-bg-primary">{{'enums.gift-type.' + object.type |
                        translate}}</span>

                </div>
                <div class="col-3"> <ngx-altea-label-value label="objects.gift.used" [value]="object.used"
                        valueFormat="currency" [currency]="sessionSvc.currency"></ngx-altea-label-value> </div>

                <div class="col-3"> <ngx-altea-label-value label="objects.gift.isConsumed" valueFormat="yesNo"
                        [value]="object.isConsumed"></ngx-altea-label-value> </div>

            </div>

            <div class="row">
                <div class="col-3"> <ngx-altea-label-value label="enums.gift-method.emailFrom" valueFormat="yesNo"
                        [value]="object.methods.emailFrom"></ngx-altea-label-value> </div>

                <div class="col-3"> <ngx-altea-label-value label="enums.gift-method.emailTo" valueFormat="yesNo"
                        [value]="object.methods.emailTo"></ngx-altea-label-value> </div>

                <div class="col-3"> <ngx-altea-label-value label="enums.gift-method.postal" valueFormat="yesNo"
                        [value]="object.methods.postal"></ngx-altea-label-value> </div>

                <div class="col-3"> <ngx-altea-label-value label="enums.gift-method.pos" valueFormat="yesNo"
                        [value]="object.methods.pos"></ngx-altea-label-value> </div>

                <!--                <div class="col-2"> <ngx-altea-label-value label="enums.gift-method.app" valueFormat="yesNo"
                        [value]="object.methods.app"></ngx-altea-label-value> </div> -->
            </div>

            <div class="row mt-3" *ngIf="object.toMessage">
                <div class="col-4">
                    {{'objects.gift.toMessage' | translate}}
                </div>
                <div class="col-8">
                    <div>{{object.toMessage}}</div>

                </div>
            </div>




            <div class="row mt-3" *ngIf="object.fromName || object.fromEmail">
                <div class="col-2">
                    {{'objects.gift.from' | translate}}
                </div>
                <div class="col-10">
                    <div *ngIf="object.fromName">{{object.fromName}}</div>
                    <div *ngIf="object.fromEmail">{{object.fromEmail}}</div>
                </div>
            </div>

            <div class="row mt-3" *ngIf="object.toName || object.toEmail || object.toAddress">
                <div class="col-2">
                    {{'objects.gift.to' | translate}}
                </div>
                <div class="col-10">
                    <div *ngIf="object.toName">{{object.toName}}</div>
                    <div *ngIf="object.toEmail">{{object.toEmail}}</div>
                    <div *ngIf="object.toAddress">{{object.toAddress}}</div>
                </div>
            </div>



            <ng-container *ngIf="object.hasLines()">

                <div class="subSection mt-3" translate>objects.gift.lines</div>

                <div class="row ms-3" *ngFor="let line of object.lines">
                    <div class="col">
                        {{line.qty}} x {{line.descr}}
                    </div>
                </div>



            </ng-container>





        </ng-container>
        <ng-container edit>

            <form #generalForm="ngForm">


                <div class="row mt-2">
                    <div class="col-6">
                        <ngx-altea-label-control label="objects.gift.code" for="code">
                            <input type="text" id="code" name="code" class="form-control" [(ngModel)]="object.code" />
                        </ngx-altea-label-control>
                    </div>
                </div>



                <div class="row  mt-2">
                    <div class="col-3">
                        <ngx-altea-label-control label="objects.gift.value" for="value">
                            <input type="number" id="value" name="value" required class="form-control"
                                [(ngModel)]="object.value" />
                        </ngx-altea-label-control>
                    </div>
                    <div class="col-3">
                        <ngx-altea-label-control label="objects.gift.used" for="used">
                            <input type="number" id="used" name="used" required class="form-control"
                                [(ngModel)]="object.used" />
                        </ngx-altea-label-control>
                    </div>  
                    <div class="col-3">
                        <ngx-altea-label-control label="objects.gift.vatPct" for="vatPct">
                            <input type="number" id="vatPct" name="vatPct" required class="form-control"
                                [(ngModel)]="object.vatPct" />
                        </ngx-altea-label-control>
                    </div>
                    <div class="col-3"> <ngx-altea-label-value label="objects.gift.isConsumed" valueFormat="yesNo"
                            [value]="object.isConsumed"></ngx-altea-label-value> </div>
                </div>

                <div class="row mt-2">
                    <div class="col-12">
                        <ngx-altea-label-control label="objects.gift.toMessage" for="toMessage">
                            <textarea rows="2" class="form-control" id="toMessage" name="toMessage" style="height: 80px"
                                [(ngModel)]="object.toMessage"></textarea>
                        </ngx-altea-label-control>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-6">
                        {{'objects.gift.from' | translate}}
                    </div>
                </div>




                <altea-search-contact #searchContactModal [modal]="true"
                    (contactSelected)="setContact($event)"></altea-search-contact>


                <div class="row">
                    <div class="col-6"><button type="button" class="btn btn-primary btn-sm"
                            (click)="searchContact()">Contact zoeken</button></div>
                    <div class="col-6">{{object.fromId}} <span *ngIf="object.from">{{object.from.name}}</span></div>
                </div>



                <div class="row mt-2">
                    <div class="col-6">
                        <ngx-altea-label-control label="objects.gift.fromName" for="fromName">
                            <input type="text" id="fromName" name="fromName" class="form-control"
                                [(ngModel)]="object.fromName" />
                        </ngx-altea-label-control>

                    </div>
                    <div class="col-6">

                        <ngx-altea-label-control label="objects.gift.fromEmail" for="fromEmail">
                            <input type="text" id="fromEmail" name="fromEmail" class="form-control"
                                [(ngModel)]="object.fromEmail" />
                        </ngx-altea-label-control>

                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-6">
                        {{'objects.gift.to' | translate}}
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-6">
                        <ngx-altea-label-control label="objects.gift.toName" for="toName">
                            <input type="text" id="toName" name="toName" class="form-control"
                                [(ngModel)]="object.toName" />
                        </ngx-altea-label-control>

                    </div>
                    <div class="col-6">

                        <ngx-altea-label-control label="objects.gift.toEmail" for="toEmail">
                            <input type="text" id="toEmail" name="toEmail" class="form-control"
                                [(ngModel)]="object.toEmail" />
                        </ngx-altea-label-control>

                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-6">
                        <ngx-altea-label-control label="objects.gift.toAddress" for="toAddress">
                            <textarea rows="2" class="form-control" id="toAddress" name="toAddress" style="height: 80px"
                                [(ngModel)]="object.toAddress"></textarea>
                        </ngx-altea-label-control>

                    </div>
                    <div class="col-6"></div>
                </div>







            </form>




        </ng-container>

    </ngx-altea-form-card-section>

    <!-- 
    (save)="save()" (cancel)="cancel()"  [enableSave]="!generalForm?.form.pristine && generalForm?.form.valid"
 -->


    <ngx-altea-form-card-section sectionName="dic.communication" sectionId="communication"
        [editSectionId]="editSectionId" (editModeChanged)="editModeChanged($event)">


        <ng-container always *ngIf="initialized">

            <div class="row mb-3">
                <div class="col-4">
                    <ng-select id="gender" name="gender" [items]="templateCodes" bindLabel="trans" bindValue="key"
                        [clearable]="false" [multiple]="false" [(ngModel)]="templateCode"></ng-select>
                </div>
                <div class="col-4">
                    <button type="button" class="btn btn-primary" (click)="preview()" translate>dic.preview</button>
                </div>
                <div class="col-4">

                    <span *ngIf="sendResult">{{sendResult.status}}</span>
                    <button type="button" *ngIf="msg" class="btn btn-primary float-end" (click)="send()"
                        translate>dic.send</button>

                </div>
            </div>


            <div class="mt-3" *ngIf="msg">

                <div class="row" *ngIf="msg.from">
                    <div class="col-2">{{'dic.from' | translate}}</div>
                    <div class="col">{{msg.from.addr}}</div>
                </div>
                <div class="row" *ngIf="msg.hasTo()">
                    <div class="col-2">{{'dic.to' | translate}}</div>
                    <div class="col"><span *ngFor="let to of msg.to">{{to.addr}}&nbsp;</span></div>
                </div>
                <div class="row" *ngIf="msg.hasCc()">
                    <div class="col-2">Cc</div>
                    <div class="col"><span *ngFor="let to of msg.cc">{{to.addr}}&nbsp;</span></div>
                </div>
                <div class="row" *ngIf="msg.hasBcc">
                    <div class="col-2">Bcc</div>
                    <div class="col"><span *ngFor="let to of msg.bcc">{{to.addr}}&nbsp;</span></div>
                </div>
                <div class="row" *ngIf="msg.subj">
                    <div class="col-2">{{'dic.subject' | translate}}</div>
                    <div class="col">{{msg.subj}}</div>
                </div>

                <div [innerHTML]="msg.body" class="mt-2"></div>

            </div>



            <!-- 

            <button type="button" class="btn btn-primary btn-sm" (click)="sendGift()" translate>dic.send</button> -->

        </ng-container>




    </ngx-altea-form-card-section>












</ng-container>