<!-- Mode: {{mode}} -->
<!-- <div class="row">
    <div class="col-4">{{orderMgrSvc.uiMode}}</div>
    <div class="col-4"></div>
    <div class="col-4"></div>
</div> -->




<ng-container [ngSwitch]="mode">

    <ng-container *ngSwitchCase="'demo-orders'">

        <order-mgr-demo-orders (new)="newDemoOrder()"></order-mgr-demo-orders>

    </ng-container>

    <ng-container *ngSwitchCase="'browse-catalog'">

        <ngx-altea-browse-catalog></ngx-altea-browse-catalog>

        <order-mgr-product-list (productSelected)="productSelected()"></order-mgr-product-list>

    </ng-container>


    <ng-container *ngSwitchCase="'order-line'">

        <order-mgr-order-line (new)="newOrderLine()" (confirm)="closeOrderLine()" (delete)="deleteOrderLine()"
            (back)="showCatalog()"></order-mgr-order-line>

    </ng-container>

    <ng-container *ngSwitchCase="'order'">

        <order-mgr-order (orderLineSelected)="orderLineSelected($event)" (addProduct)="browseCatalog()"
            (continue)="orderFinished()"></order-mgr-order>

    </ng-container>

    <ng-container *ngSwitchCase="'staff-select'">

        <order-mgr-staff-select (selected)="staffSelected($event)"></order-mgr-staff-select>

    </ng-container>


    <ng-container *ngSwitchCase="'person-select'">

        <order-mgr-person-select (selected)="personsSelected()"></order-mgr-person-select>

    </ng-container>


    <ng-container *ngSwitchCase="'select-date'">


        <order-mgr-select-date (selected)="dateSelected($event)"></order-mgr-select-date>

    </ng-container>



    <ng-container *ngSwitchCase="'select-time-slot'">
        <!--          -->
        <order-mgr-select-time-slot (changeDate)="selectDate()"
            (selected)="timeSlotSelected($event)"></order-mgr-select-time-slot>

    </ng-container>

    <ng-container *ngSwitchCase="'sign-in'">
        <app-sign-in [dashboardLink]="false"></app-sign-in>
    </ng-container>



    <ng-container *ngSwitchCase="'contact-select'">
        <order-mgr-contact-select2 [contact]="contact" [inputsRequired]="true" (selected)="contactSelected($event)"></order-mgr-contact-select2>
    </ng-container>







    <!-- app-sign-in  -->



    <ng-container *ngSwitchCase="'pay-online'">

        <app-pay-online></app-pay-online>

    </ng-container>


    <ng-container *ngSwitchCase="'request-invoice'">

        <altea-lib-request-invoice></altea-lib-request-invoice>

    </ng-container>


    <ng-container *ngSwitchCase="'order-finished'">

        <app-order-finished></app-order-finished>

    </ng-container>


    <ng-container *ngSwitchCase="'summary'">

        <app-order-finished></app-order-finished>

    </ng-container>



    <!-- Flow -->

    <ng-container *ngSwitchCase="'pos-summary'">
        <order-mgr-order-summary [order]="orderMgrSvc.order" [pays]="true"></order-mgr-order-summary>


        <div class="row mt-4">
            <div class="col">
                Om uw afspraak te confirmeren, gelieve in devolgende stappen:
                <ul>
                    <li>uw gegevens te controleren of aan te vullen</li>
                    <li>een voorschot te betalen</li>
                </ul>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col d-flex justify-content-center">

                <button type="button" class="btn btn-primary" (click)="posShowContact()">Controleer uw gegevens</button>
            </div>
        </div>



        


    </ng-container>

    <ng-container *ngSwitchCase="'contact-edit'">
        <order-mgr-contact-select2 [contact]="orderMgrSvc.order?.contact"
            (selected)="contactSelected($event)"></order-mgr-contact-select2>
    </ng-container>


    <ng-container *ngSwitchCase="'default'">
    </ng-container>


    <ng-container *ngSwitchDefault>
    </ng-container>
</ng-container>


<!--


    <ng-container>

        Overzicht van uw reservatie/bestelling:

        <div class="my-3 mx-4">
            <order-mgr-order-summary [order]="orderMgrSvc.order" [pays]="true"></order-mgr-order-summary>
        </div>

    </ng-container>


<order-mgr-debug-plannings *ngIf="orderMgrSvc.plannings" [plannings]="orderMgrSvc.plannings" ></order-mgr-debug-plannings>

<order-mgr-debug-availability [response]="orderMgrSvc.availabilityResponse"></order-mgr-debug-availability>
-->