<h4>Checks</h4>
<button type="button" class="btn btn-primary btn-sm me-2" (click)="doChecks(2024,10)">Okt</button>
<button type="button" class="btn btn-primary btn-sm me-2" (click)="doChecks(2024,11)">Nov</button>
<button type="button" class="btn btn-primary btn-sm me-2" (click)="doChecks(2024,12)">Dec</button>

<button type="button" class="btn btn-primary btn-sm ms-4 me-2" (click)="doChecks(2025,1)">Jan</button>
<button type="button" class="btn btn-primary btn-sm me-2" (click)="doChecks(2025,2)">Feb</button>
<button type="button" class="btn btn-primary btn-sm me-2" (click)="doChecks(2025,3)">Mrt</button>

<button type="button" class="btn btn-primary btn-sm ms-4 me-2" (click)="doChecks(2025,4)">Apr</button>
<button type="button" class="btn btn-primary btn-sm me-2" (click)="doChecks(2025,5)">Mei</button>
<button type="button" class="btn btn-primary btn-sm me-2" (click)="doChecks(2025,6)">Jun</button>

<button type="button" class="btn btn-primary btn-sm ms-4 me-2" (click)="doChecks(2025,7)">Jul</button>
<button type="button" class="btn btn-primary btn-sm me-2" (click)="doChecks(2025,8)">Aug</button>
<button type="button" class="btn btn-primary btn-sm me-2" (click)="doChecks(2025,9)">Sep</button>

<div class="row mt-3">


    <div class="col-3">

        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="calculateNoDecl" name="calculateNoDecl"
                [(ngModel)]="calculateNoDecl" />
            <label class="form-check-label" for="calculateNoDecl">Calc No Decl</label>
        </div>

    </div>

    <div class="col-3">

        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="resetNoDecl" name="resetNoDecl"
                [(ngModel)]="resetNoDecl" />
            <label class="form-check-label" for="resetNoDecl">Reset No Decl</label>
        </div>

    </div>

    <div class="col-3">

        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="fixToInvoice" name="fixToInvoice"
                [(ngModel)]="fixToInvoice" />
            <label class="form-check-label" for="resetNoDecl">toInvoice=false</label>
        </div>

    </div>

</div>

<ng-container *ngIf="report">

    <ng-container *ngIf="report.invoices">

        <h5>Invoices & gifts to invoice</h5>

        <div class="row ms-3" *ngFor="let result of report.invoices.results">
            <div class="col">{{result.msg}}</div>
        </div>
    </ng-container>


    <ng-container *ngIf="report.gifts">

        <h5>Gifts (gift.decl=true for invoiced purcahe orders)</h5>

        <div class="row ms-3" *ngFor="let result of report.gifts.results">
            <div class="col">{{result.msg}}</div>
        </div>
    </ng-container>

    <ng-container *ngIf="report.cash">

        <h5>No declares</h5>

        <div class="row ms-3" *ngFor="let result of report.cash.results">
            <div class="col">{{result.msg}} <a *ngIf="result.order"
                    [routerLink]="['/aqua/orders/manage',result.order.id]">Open {{result.order.for}}</a> </div>
        </div>
    </ng-container>


    <ng-container *ngIf="report.bank">

        <h5>Bank checks</h5>
        Checks ok: {{report.bank.count.ok}}<br>

        Errors: {{report.bank.count.errors}}<br>

        <div class="row ms-3" *ngFor="let error of report.bank.errors">
            <div class="col-1">{{error.tx.num}}</div>
            <div class="col-1">{{error.tx.type}}</div>
            <div class="col-2">{{error.tx.remoteName}}</div>
            <div class="col-2">{{error.tx.execDateObject() | date:"dd/MM/yy HH:mm"}}</div>
            <div class="col">{{error.msg}}</div>
        </div>

    </ng-container>


    <ng-container *ngIf="report.paysNotLinkedToBank?.hasPayments()">

        <h5>Betalingen niet gelinkt met bank</h5>

        <div class="row ms-3" *ngFor="let pay of report.paysNotLinkedToBank.list">
            <div class="col-2">
                <a [routerLink]="['/aqua/orders/manage',pay.orderId]">{{pay.dateTyped | date: 'dd/MM HH:mm'}}</a>
            </div>
            <div class="col-2">{{pay.amount}}</div>
            <div class="col-2">{{pay.type}}</div>
            <ng-container *ngIf="pay.order">
                <div class="col-2">{{pay.order.for}}</div>
                <div class="col-2">{{pay.order.start | intdate}}</div>
            </ng-container>

        </div>

    </ng-container>


</ng-container>


<br><br><br><br>

<h4>Berekeningen</h4>

<ng-container *ngIf="branch">Laatst afgesloten maand: {{branch.acc.closed.year}}.{{branch.acc.closed.month}}

    <button type="button" class="btn btn-primary btn-sm mx-2" (click)="calcNextMonth()">Bereken
        {{getNextMonth()}}</button>

    <button type="button" class="btn btn-primary btn-sm mx-2" (click)="closeNextMonth()">Sluit
        {{getNextMonth()}}</button>

    <button type="button" class="btn btn-primary btn-sm mx-2" (click)="calculateCustomMonth()">Bereken</button>

</ng-container>


<ng-container *ngIf="closeResult">

    <ng-container *ngFor="let orderCheck of closeResult.checks">

        <div class="row" *ngFor="let item of orderCheck.items">
            <div class="col-2"><a [routerLink]="['/aqua/orders/manage',orderCheck.order.id]">{{item?.type}}</a></div>
            <div class="col-2">{{orderCheck?.order?.for}}</div>
            <div class="col">{{item?.msg}}</div>

        </div>

    </ng-container>



</ng-container>


<ng-container *ngIf="calcMonthLog">
    <div class="row ms-3" *ngFor="let item of calcMonthLog">
        <div class="col">{{item?.msg}}</div>
    </div>
</ng-container>




<br><br><br><br>

<h4>Maand rapport</h4>
<button type="button" class="btn btn-primary btn-sm me-2" (click)="showReportMonths()">Okt</button>

<div *ngIf="htmlReport" [innerHTML]="htmlReport"></div>


<h4>Kwartaal rapport</h4>

<button type="button" class="btn btn-primary btn-sm me-2" (click)="showTaxReport()">Aangifte</button>

<button type="button" class="btn btn-primary btn-sm me-2" (click)="showIncomeReport()">Inkomsten</button>

<div *ngIf="customReport" [innerHTML]="customReport"></div>



<h4>Contact loyalty</h4>

<button type="button" class="btn btn-primary btn-sm me-2" (click)="checkContactLoyalty()">Check loyalty</button>


<button type="button" *ngIf="loyaltyReport" class="btn btn-primary btn-sm me-2" (click)="fixContactLoyalty()">Fix
    loyalty</button>


<h4>Wings checks</h4>

<div class="row">
    <div class="col-2">
        <label class="form-label" for="wingsYearMonth">Export maand</label>
        <input type="number" id="wingsYearMonth" name="wingsYearMonth" class="form-control"
            [(ngModel)]="wingsExportYearMonth" />
    </div>
    <div class="col d-flex align-items-end">
        <button type="button" class="btn btn-primary btn-sm me-2"
            (click)="downloadWingsExport(WingsExportType.cash)">Cash to wings</button>
        <button type="button" class="btn btn-primary btn-sm me-2"
            (click)="downloadWingsExport(WingsExportType.gift)">Gift to wings</button>
    </div>
</div>

<div class="row mt-2">
    <div class="col">
        <button type="button" class="btn btn-primary btn-sm me-2" (click)="downloadWingsReport()">Download wings
            checks</button>

        <button type="button" class="btn btn-primary btn-sm me-2" (click)="downloadYearReport()">Year report</button>
    </div>
</div>