<ng-template #newModal let-modal>

    <div class="modal-header">
        <h4>Toevoegen: {{ 'enums.resource-type.' + newObject.type | translate }}</h4>

    </div>
    <div class="modal-body">


        <form #newResourceForm="ngForm">


            <ng-container [ngSwitch]="step">
                <ng-container *ngSwitchCase="-1">
                    {{ 'msg.api-problem' | translate }}

                    <!-- <div *ngIf="message">{{message}}</div> -->

                </ng-container>
                <ng-container *ngSwitchCase="1">
                    <div class="row">
                        <div class="col-12">
                            <ngx-altea-label-control layout="basic" label="{{ 'dic.name' | translate }}" for="name">
                                <input type="text" id="name" name="name" required class="form-control"
                                    [(ngModel)]="newObject.name" />
                            </ngx-altea-label-control>
                        </div>
                    </div>
                </ng-container>
            </ng-container>

            <div class="row mt-3">
                <div class="col-12">

                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="isGroup" [(ngModel)]="newObject.isGroup">
                        <label class="form-check-label" for="isGroup">Dit is een groep</label>
                    </div>


                </div>
            </div>



            <div class="row mt-3">
                <div class="col-12">

                    <button type="button" *ngIf="step === nrOfSteps" class="btn btn-primary float-end"
                        [disabled]="newResourceForm.form.pristine || !newResourceForm.form.valid"
                        (click)="createObject(modal)">{{ 'dic.create' | translate }} {{ 'enums.resource-type.' +
                        newObject.type |
                        translate }}</button>

                </div>
            </div>


        </form>

    </div>

</ng-template>