<ng-template #orderSummary>

    <ng-container>

        Overzicht van uw reservatie/bestelling:

        <div class="my-3 mx-4">
            <order-mgr-order-summary [order]="orderMgrSvc.order" [pays]="true"></order-mgr-order-summary>
        </div>

    </ng-container>


    <b>{{ 'app.payment.' + payOption.type | translate }}:</b> €{{payOption?.amount}} <br>


    <ng-container *ngIf="orderMgrSvc.order.paid > 0">
        <b>Reeds betaald:</b> €{{orderMgrSvc.order.paid}} <br>
        <b>Nog te betalen:</b> €{{toPay}} <br>
    </ng-container>
    <br>
  

</ng-template>




<ng-container [ngSwitch]="mode">


    <ng-container *ngSwitchCase="'PayMethod'">

        <ng-container *ngTemplateOutlet="orderSummary"></ng-container>

       
        <div class="row my-2">
            <div class="col">
                <b>Betalen met cadeaubon:</b>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <input type="text" id="giftCode" name="giftCode" class="form-control" placeholder="Cadeaubon nummer" [(ngModel)]="giftCode" />
            </div>
            <div class="col-6 d-grid gap-2">
                <button type="button" class="btn btn-primary" [disabled]="!giftCode" (click)="tryPayGift(giftCode)"
                    >Cadeaubon valideren</button>
            </div>
        </div>
        <div class="row" *ngIf="giftMessage">
            <div class="col-12">
                {{giftMessage}}
            </div>
        </div>

        <div class="row mt-4 mb-2">
            <div class="col">
                <b>Online betalen:</b>
            </div>
        </div>

        <div class="row justify-content-center">
        
            <div class="col-6 align-self-center d-grid gap-2">
                <button type="button" class="btn btn-primary" (click)="payOnline()">€{{toPay}} {{'dic.payOnline' | translate }}</button>
            </div>
        </div>

    </ng-container>



    <ng-container *ngSwitchCase="'SelectOption'">

        <ng-container *ngTemplateOutlet="orderSummary"></ng-container>

        <ng-container *ngIf="payOptions">





            Om uw reservatie/bestelling <b>te bevestigen</b> heeft u de keuze uit devolgende betalingen:

            <div class="row my-3" *ngFor="let option of payOptions">
                <!-- <div class="col-12" *ngIf="option.info">{{option.info}}</div> 
                d-grid gap-2 d-md-block 
                -->

                <div class="col-12 d-flex justify-content-center">

                    <button class="btn btn-primary" type="button" style="width: 250px;"
                        (click)="selectPayOption(option)">{{option.cta}}</button>

                </div>
            </div>




        </ng-container>






    </ng-container>


    <ng-container *ngSwitchCase="'PayOnline'">





    </ng-container>


</ng-container>



<div id="checkout">
    <!-- Checkout will insert the payment form here -->
</div>