<ngx-altea-search-product #searchProductModal (select)="addProduct($event)"></ngx-altea-search-product>


<ngx-altea-form-card-section sectionName="ui.template.edit.sections.config.title" sectionId="config"
    [editSectionId]="editSectionId" icon="fa-duotone fa-mail" (editModeChanged)="editModeChanged($event)"
    (cancel)="cancel()" (save)="save()">

    <!-- 
    (save)="save()" 
    
    <ng-container readonly>

  </ng-container>
  <ng-container edit>

  </ng-container> 
  
   mb-3  d-flex justify-content-center
  -->

    <ng-container always>

        <ng-container *ngFor="let template of basicTemplates">

            <div class="row">
                <div class="col-2">
                    {{template.cat}}
                </div>
                <div class="col-2">
                    {{template.code}}
                </div>
                <div class="col-2">
                    {{template.suffix}}
                </div>
                <div class="col-2">
                    {{template.remind}}
                </div>
                <div class="col-2">
                    {{template.act}}
                </div>
                <div class="col-2">
                    <i class="fas fa-pen " (click)="editBasicTemplate(template)"></i>

                    <i class="fa-solid fa-copy ms-2" (click)="copyTemplate(template)"></i>


                    <i class="fa-solid fa-trash ms-2" (click)="deleteTemplate(template)"></i>
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    
                </div>
                <div class="col-10">
                    <ng-container >
                        


                        <span *ngFor="let productTemplate of template.products" 
                        class="badge rounded-pill text-bg-info ms-2">{{productTemplate.product?.name}}</span>

                    </ng-container>
                </div>
            </div>


        </ng-container>





        <div class="row mb-3  d-flex justify-content-center">
            <div class="col-4">

            </div>

            <div class="col-2" style="text-align: center" translate>
                ui.template.to-client
            </div>

            <div class="col-2" style="text-align: center" translate>
                ui.template.to-provider
            </div>


        </div>

        <div class="row mb-3  d-flex justify-content-center">

            <div class="col-4">

            </div>

            <div class="col-1 d-flex justify-content-center" style="text-align: center" *ngFor="let channel of channels"
                translate>
                {{'enums.msg-type.' + channel | translate}}
            </div>
            <div class="col-1 d-flex justify-content-center" style="text-align: center" *ngFor="let channel of channels"
                translate>
                {{'enums.msg-type.' + channel | translate}}
            </div>

            <!--             <div class="col-2" style="text-align: center" translate>
                ui.template.sms-to-provider
            </div>
            <div class="col-2" style="text-align: center" translate>
                ui.template.email-to-client
            </div>
            <div class="col-2" style="text-align: center" translate>
                ui.template.sms-to-client
            </div> -->
        </div>

        <ng-container *ngIf="selectionsAvailable">
            <div class="row mb-1  d-flex justify-content-center" *ngFor="let templateCode of templateCodes">

                <div class="col-4">{{'enums.template-code.' + templateCode | translate}}</div>

                <ng-container *ngIf="selections[templateCode]">

                    <div class="col-1 d-flex justify-content-center" *ngFor="let variant of variants">
                        <!-- [(ngModel)]="object.showPrice" -->

                        <ng-container *ngIf="sectionInEditIs('config')">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox"
                                    id="{{templateCode}}-{{variant.channel}}-{{variant.recipient}}"
                                    [(ngModel)]="selections[templateCode][variant.channel + '_' + variant.recipient]"
                                    (change)="selectionChanged($event.target['checked'], templateCode, variant)" />

                            </div>

                            <i class="fas fa-pen ms-2"
                                *ngIf="selections[templateCode][variant.channel + '_' + variant.recipient]"
                                (click)="editTemplate(templateCode, variant)"></i>

                        </ng-container>

                        <i class="fas fa-eye"
                            *ngIf="sectionIsReadOnly('config') && selections[templateCode][variant.channel + '_' + variant.recipient]"
                            (click)="showTemplate(templateCode, variant)"></i>
                    </div>



                </ng-container>
            </div>
        </ng-container>

        <!-- <button type="button" class="btn btn-primary btn-sm" (click)="test()" translate>dic.add</button> -->



        <ng-container *ngIf="template">

            <div class="row mt-5  d-flex justify-content-center">
                <div class="col-10">


                    <b>{{'objects.template._name' | translate}}: {{'enums.template-code.' + template.code | translate}}
                        ({{template.channelsToString()}})</b>


                </div>


                <ng-container *ngIf="sectionInEditIs('config'); else readOnlyTemplate">



                    <!--*ngIf="template.isEmail()"-->
                    <div class="col-10 mt-2">

                        <div class="row">
                            <div class="col">

                                <ngx-altea-label-control label="objects.template.subject" for="subject">
                                    <input type="text" id="subject" name="subject" class="form-control"
                                        [(ngModel)]="template.subject" (change)="updateTemplate(template)" />
                                </ngx-altea-label-control>

                            </div>
                            <div class="col-3" *ngIf="initialized && template.isEmail()">


                                <ngx-altea-label-control label="objects.template.format" for="format">
                                    <ng-select id="format" name="format" [items]="format" bindLabel="trans"
                                        bindValue="key" [clearable]="false" [multiple]="false"
                                        [(ngModel)]="template.format" (change)="updateTemplate(template)"></ng-select>
                                </ngx-altea-label-control>


                            </div>
                            <div class="col-3" *ngIf="initialized && template.isType('wa')">
                                <button type="button" class="btn btn-primary btn-sm" [disabled]="!canExport"
                                    (click)="exportToWhatsApp(template)" translate>dic.export</button>

                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-3">

                                <ngx-altea-label-control label="objects.template.cat" for="cat">
                                    <input type="text" id="cat" name="cat" class="form-control"
                                        [(ngModel)]="template.cat" (change)="updateTemplate(template)" />
                                </ngx-altea-label-control>

                            </div>
                            <div class="col-3">

                                <ngx-altea-label-control label="objects.template.code" for="code">
                                    <input type="text" id="code" name="code" class="form-control"
                                        [(ngModel)]="template.code" (change)="updateTemplate(template)" />
                                </ngx-altea-label-control>

                            </div>
                            <div class="col-2">

                                <ngx-altea-label-control label="objects.template.suffix" for="suffix">
                                    <input type="text" id="suffix" name="suffix" class="form-control"
                                        [(ngModel)]="template.suffix" (change)="updateTemplate(template)" />
                                </ngx-altea-label-control>
                            </div>
                            <div class="col-2">

                                <ngx-altea-label-control label="objects.template.remind" for="remind">
                                    <input type="number" id="remind" name="remind" class="form-control"
                                        [(ngModel)]="template.remind" (change)="updateTemplate(template)" />
                                </ngx-altea-label-control>
                            </div>
                            <div class="col-2">
                                <div class="form-check form-switch">
                                    <input type="checkbox" class="form-check-input" id="act" name="act"
                                        [(ngModel)]="template.act" (change)="updateTemplate(template)">
                                    <label class="form-check-label" for="act" translate="dic.act"></label>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="col-10 mt-2">

                        <ng-container [ngSwitch]="template.format">
                            <ng-container *ngSwitchCase="TemplateFormat.text">

                                <ngx-altea-label-control [label]="'objects.template.body.' + template.channels[0]"
                                    for="body">
                                    <textarea rows="4" class="form-control" id="body" name="body" style="height: 120px"
                                        [(ngModel)]="template.body" (change)="updateTemplate(template)"></textarea>
                                </ngx-altea-label-control>

                            </ng-container>
                            <ng-container *ngSwitchCase="TemplateFormat.html">

                                <div class="NgxEditor__Wrapper">
                                    <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
                                    <ngx-editor [editor]="editor" [(ngModel)]="template.body" [disabled]="false"
                                        [placeholder]="'Maak template'"
                                        (ngModelChange)="updateTemplate(template)"></ngx-editor>
                                </div>

                            </ng-container>
                        </ng-container>








                    </div>
                    <div class="col-10 mt-2">

                        <h5>Acties &nbsp; <i class="fa-solid fa-circle-plus" (click)="addTemplateAction(template)"></i>
                        </h5>
                        <ng-container *ngIf="template.actions">
                            <ng-container *ngFor="let action of template.actions">


                                <div class="row mt-2">
                                    <div class="col-6">
                                        <ngx-altea-label-control label="objects.template.action.label"
                                            for="actionLabel">
                                            <input type="text" id="actionLabel" name="actionLabel" class="form-control"
                                                [(ngModel)]="action.label" (change)="updateTemplate(template)" />
                                        </ngx-altea-label-control>
                                    </div>
                                    <div class="col-6">

                                        <ngx-altea-label-control label="objects.template.action.url" for="actionUrl">
                                            <input type="text" id="actionUrl" name="actionUrl" class="form-control"
                                                [(ngModel)]="action.url" (change)="updateTemplate(template)" />
                                        </ngx-altea-label-control>

                                    </div>

                                </div>

                            </ng-container>
                        </ng-container>


                        <h5>Products &nbsp; <i class="fa-solid fa-circle-plus" (click)="searchProduct()"></i>
                        </h5>
                        

                        <ng-container *ngIf="template.products">
                        
                            <span *ngFor="let productTemplate of template.products" 
                            class="badge rounded-pill text-bg-info ms-2">{{productTemplate.product?.name}} &nbsp; <i class="fa-solid fa-xmark" (click)="deleteProduct(template, productTemplate)"></i></span>
    
                        </ng-container>


                    </div>







                </ng-container>

                <ng-template #readOnlyTemplate>

                    <div class="col-10 mt-2">
                        <i [innerHTML]="template.subject"></i>
                    </div>


                    <div class="col-10 mt-2">
                        <div [innerHTML]="template.body"></div>
                    </div>


                </ng-template>


            </div>






        </ng-container>








    </ng-container>

</ngx-altea-form-card-section>




<!-- help="objects.template.help.subject" -->