<ngx-altea-form-card-section sectionName="ui.template.edit.sections.config.title" sectionId="config"
    [editSectionId]="editSectionId" icon="fa-duotone fa-mail" (editModeChanged)="editModeChanged($event)"
    (cancel)="cancel()" (save)="save()">

    <!-- 
    (save)="save()" 
    
    <ng-container readonly>

  </ng-container>
  <ng-container edit>

  </ng-container> -->

    <ng-container always>

        <div class="row mb-3  d-flex justify-content-center">
            <div class="col-2">

            </div>
            <div class="col-2" style="text-align: center" translate>
                ui.template.email-to-provider
            </div>
            <div class="col-2" style="text-align: center" translate>
                ui.template.sms-to-provider
            </div>
            <div class="col-2" style="text-align: center" translate>
                ui.template.email-to-client
            </div>
            <div class="col-2" style="text-align: center" translate>
                ui.template.sms-to-client
            </div>
        </div>

        <ng-container *ngIf="selectionsAvailable">
            <div class="row mb-1  d-flex justify-content-center" *ngFor="let templateCode of templateCodes">

                <div class="col-2">{{'enums.template-code.' + templateCode | translate}}</div>

                <ng-container *ngIf="selections[templateCode]">

                    <div class="col-2 d-flex justify-content-center" *ngFor="let variant of variants">
                        <!-- [(ngModel)]="object.showPrice" -->

                        <ng-container *ngIf="sectionInEditIs('config')">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox"
                                    id="{{templateCode}}-{{variant.channel}}-{{variant.recipient}}"
                                    [(ngModel)]="selections[templateCode][variant.channel + '_' + variant.recipient]"
                                    (change)="selectionChanged($event.target['checked'], templateCode, variant)" />

                            </div>

                            <i class="fas fa-pen ms-2"
                                *ngIf="selections[templateCode][variant.channel + '_' + variant.recipient]"
                                (click)="editTemplate(templateCode, variant)"></i>

                        </ng-container>

                        <i class="fas fa-eye"
                            *ngIf="sectionIsReadOnly('config') && selections[templateCode][variant.channel + '_' + variant.recipient]"></i>
                    </div>



                </ng-container>
            </div>
        </ng-container>

        <!-- <button type="button" class="btn btn-primary btn-sm" (click)="test()" translate>dic.add</button> -->



        <ng-container *ngIf="sectionInEditIs('config') && template">

            <div class="row mt-4  d-flex justify-content-center">
                <div class="col-10">
                    {{'objects.template._name' | translate}}






                </div>
                <div class="col-10 mt-2" *ngIf="template.isEmail()">

                    <div class="row">
                        <div class="col-9">
                            
                            <ngx-altea-label-control label="objects.template.subject" for="subject">
                                <input type="text" id="subject" name="subject" required class="form-control"
                                    [(ngModel)]="template.subject" />
                            </ngx-altea-label-control>

                        </div>
                        <div class="col-3" *ngIf="initialized">


                            <ngx-altea-label-control label="objects.template.format" for="format">
                                <ng-select id="format" name="format" [items]="format" bindLabel="trans" bindValue="key"
                                    [clearable]="false" [multiple]="false" [(ngModel)]="template.format"></ng-select>
                            </ngx-altea-label-control>


                        </div>
                    </div>



                </div>
                <div class="col-10 mt-2">

                    <ng-container [ngSwitch]="template.format">
                        <ng-container *ngSwitchCase="TemplateFormat.text">

                            <ngx-altea-label-control [label]="'objects.template.body.' + template.channels[0]"
                                for="body">
                                <textarea rows="4" class="form-control" id="body" name="body" style="height: 120px"
                                    [(ngModel)]="template.body"></textarea>
                            </ngx-altea-label-control>

                        </ng-container>
                        <ng-container *ngSwitchCase="TemplateFormat.html">

                            <div class="NgxEditor__Wrapper">
                                <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
                                <ngx-editor [editor]="editor" [(ngModel)]="template.body" [disabled]="false"
                                    [placeholder]="'Maak template'"></ngx-editor>
                            </div>

                        </ng-container>
                    </ng-container>








                </div>
                <div class="col-10 mt-2">

                    <h5>Acties &nbsp; <i class="fa-solid fa-circle-plus" (click)="addTemplateAction(template)"></i>
                    </h5>
                    <ng-container *ngIf="template.actions">
                        <ng-container *ngFor="let action of template.actions">


                            <div class="row mt-2">
                                <div class="col-6">
                                    <ngx-altea-label-control label="objects.template.action.label" for="actionLabel">
                                        <input type="text" id="actionLabel" name="actionLabel" class="form-control"
                                            [(ngModel)]="action.label" />
                                    </ngx-altea-label-control>
                                </div>
                                <div class="col-6">
                                    <ngx-altea-label-control label="objects.template.action.url" for="actionUrl">
                                        <input type="text" id="actionUrl" name="actionUrl" class="form-control"
                                            [(ngModel)]="action.url" />
                                    </ngx-altea-label-control>

                                </div>

                            </div>

                        </ng-container>
                    </ng-container>

                </div>
            </div>





        </ng-container>








    </ng-container>

</ngx-altea-form-card-section>




<!-- help="objects.template.help.subject" -->