<ng-template #productTypeModal let-modal>

  <div class="modal-header">
    <h4>{{ 'ui.product.new.title' | translate }} {{ 'enums.product-type.' + newProduct.type | translate | lowercase }}
      {{ 'ui.product.new.orFolder' | translate }}</h4>

  </div>
  <div class="modal-body">


    <form #addProductForm="ngForm">


      <div class="row">
        <div class="col d-grid">

          <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="btnradio" id="product" autocomplete="off" checked
              value="product" [(ngModel)]="productOrFolder">
            <label class="btn btn-outline-primary" for="product">{{ 'enums.product-type.' + newProduct.type | translate
              }}</label>

            <input type="radio" class="btn-check" name="btnradio" id="folder" autocomplete="off" value="folder"
              [(ngModel)]="productOrFolder">
            <label class="btn btn-outline-primary" for="folder">Folder</label>

          </div>

        </div>
      </div>

      <div class="row mt-3">
        <div class="col-12">
          <ngx-altea-label-control label="dic.name" for="name">
            <input type="text" id="name" name="name" required minlength="2" class="form-control"
              [(ngModel)]="newProduct.name" />
          </ngx-altea-label-control>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-12">

          <button type="button" class="btn btn-primary float-end"
            [disabled]="addProductForm.form.pristine || !addProductForm.form.valid" (click)="createProduct(modal)">{{
            'dic.create' |
            translate }}
            <span *ngIf="!isFolder()">{{ 'enums.product-type.' + newProduct.type | translate }}</span>
            <span *ngIf="isFolder()">{{ 'ui.product.new.folder' | translate | titlecase }}</span> </button>

        </div>
      </div>


    </form>



    <!-- 

  
      <ng-container [ngSwitch]="step">
        <ng-container *ngSwitchCase="-1">
          {{ 'msg.api-problem' | translate }}
  
        </ng-container>
        <ng-container *ngSwitchCase="1">
          <ul class="list-group">
            <li *ngFor="let productType of productTypes" class="list-group-item"
              (click)="selectProductType(productType.key)">
  
              <div class="row">
                <div class="col-1">
                  <i class="{{ProductTypeIcons[productType.key]}}"></i>
                </div>
                <div class="col">
                  {{ 'enums.product-type.' + productType.key | translate }}
                </div>
              </div>
            </li>
          </ul>
        </ng-container>
        <ng-container *ngSwitchCase="2">
          <div class="row">
            <div class="col-12">
              <ngx-altea-label-control layout="basic" label="{{ 'dic.name' | translate }}" for="name"
                help="De naam van product of dienst">
                <input type="text" id="name" name="name" required class="form-control" [(ngModel)]="newProduct.name" />
              </ngx-altea-label-control>
            </div>
          </div>
  
        </ng-container>
        <ng-container *ngSwitchDefault>
        </ng-container>
      </ng-container>
  
  
      <div class="row mt-3">
        <div class="col-12">
  
          <button type="button" *ngIf="step === nrOfSteps" class="btn btn-primary float-end"
            (click)="createProduct(modal)">{{ 'dic.create' | translate }} {{ 'enums.product-type.' + newProduct.type |
            translate }}</button>
  
        </div>
      </div>
   -->

  </div>

</ng-template>