<!-- <div class="row mb-3">
    <div class="col d-flex justify-content-center">
        <img src="assets/aquasense.png" style="width: 60%;">
    </div>
</div> -->





<ng-container [ngSwitch]="provider">
    <ng-container *ngSwitchCase="'email'">

        <app-email-passwd></app-email-passwd>

    </ng-container>
    <ng-container *ngSwitchDefault>



        <div class="row mt-2">
            <div class="col mx-5 d-flex justify-content-center">
                <small>Door nu aan te loggen, kan u later uw reservatie verder beheren.</small>
            </div>

        </div>

        <div class="row mt-5">

            <div class="col mx-5 d-grid">
                <button type="button" *ngIf="dashboardLink" class="btn btn-primary" translate (click)="toDashboard()">Dashboard</button>

                <button type="button" class="btn btn-outline-primary mt-2"
                    (click)="signIn('facebook')">Facebook</button>


                <button type="button" class="btn btn-outline-primary mt-2" (click)="signIn('google')">Google</button>

                <button type="button" class="btn btn-outline-primary mt-2" [routerLink]="['/', 'auth','email-passwd']">Email</button>

<!--             (click)="signIn('email')"
                 <button type="button" class="btn btn-outline-primary mt-2" (click)="clearCache()">Clear cache</button> -->
            </div>

        </div>


    </ng-container>
</ng-container>



<!-- class=”d-flex justify-content-center”

<button type="button" class="btn btn-primary btn-sm" (click)="appSignOut()" translate>Sign Out</button>
 -->