<!-- <ngb-timepicker [(ngModel)]="time"></ngb-timepicker>
<hr />
<pre>Selected time: {{time | json}}</pre>

<i class="{{ProductTypeIcons[product.type]}}"></i> &nbsp;
-->



<ng-container *ngIf="object">

  <div class="row">
    <div class="col-9">
      <h4>{{object.name}}</h4>
    </div>
    <div class="col-3">

      <div class="d-inline-block float-end" ngbDropdown #myDrop="ngbDropdown">
        <button type="button" class="btn btn-outline-primary me-2" id="dropdownManual" ngbDropdownAnchor
          (focus)="myDrop.open()" translate>dic.actions
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownManual">
          <button ngbDropdownItem (click)="delete()"><i class="fa-duotone fa-trash me-1"></i> {{ 'dic.delete' |
            translate }} </button>
        </div>
      </div>
    </div>

  </div>



  <ngx-altea-form-card-section sectionName="ui.product.edit.sections.general.title" sectionId="general"
    [editSectionId]="editSectionId" [icon]="ProductTypeIcons[object.type]" (save)="save()" (cancel)="cancel()"
    (editModeChanged)="editModeChanged($event)">
    <ng-container readonly>
      <!-- <div>{{ object.descr }}</div> -->

      <ngx-altea-label-value label="objects.product.short" [value]="object.short"></ngx-altea-label-value>

      <ngx-altea-label-value label="objects.product.descr" [value]="object.descr"
        empty="objects.product.no-descr"></ngx-altea-label-value>

      <ngx-altea-label-value label="objects.product.salesPrice" [value]="object.salesPrice"></ngx-altea-label-value>

      <ngx-altea-label-value label="objects.product.vatPct" [value]="object.vatPct"></ngx-altea-label-value>

      <ngx-altea-label-value label="objects.product.minQty" [value]="object.minQty"></ngx-altea-label-value>

    </ng-container>
    <ng-container edit>


      <ngx-altea-label-control label="dic.name" for="name" help="objects.product.help.{{object.type}}-name">
        <input type="text" id="projectName" name="name" required class="form-control" [(ngModel)]="object.name" />
      </ngx-altea-label-control>

      <ngx-altea-label-control class="mt-3" label="objects.product.short" for="short" help="objects.product.help.short">
        <input type="text" id="short" name="short" class="form-control" [(ngModel)]="object.short" />
      </ngx-altea-label-control>


      <br />
      <ngx-altea-label-control label="dic.descr" for="descr">
        <textarea rows="4" class="form-control" id="descr" name="descr" style="height: 120px"
          [(ngModel)]="object.descr"></textarea>
      </ngx-altea-label-control>

      <br />
      <ngx-altea-label-control label="objects.product.priceInfo" for="priceInfo">
        <textarea rows="4" class="form-control" id="priceInfo" name="priceInfo" style="height: 120px"
          [(ngModel)]="object.priceInfo"></textarea>
      </ngx-altea-label-control>

      <br />
      <ngx-altea-label-control label="objects.product.inform" for="inform">
        <textarea rows="4" class="form-control" id="inform" name="inform" style="height: 80px"
          [(ngModel)]="object.inform"></textarea>
      </ngx-altea-label-control>


      <div class="row mt-3">

        <div class="col-3">

          <ngx-altea-label-control label="objects.product.salesPrice" for="salesPrice"
            help="objects.product.help.salesPrice">
            <input type="number" id="salesPrice" name="salesPrice" required class="form-control"
              [(ngModel)]="object.salesPrice" />
          </ngx-altea-label-control>

        </div>

        <div class="col-3">

          <ngx-altea-label-control label="objects.product.minQty" for="minQty">
            <input type="number" id="minQty" name="minQty" required class="form-control" [(ngModel)]="object.minQty" />
          </ngx-altea-label-control>

        </div>


        <div class="col-3">

          <ngx-altea-label-control layout="floating" label="objects.product.vatPct" [trans]="true" for="vatPct">
            <ng-select id="vatPct" name="vatPct" [items]="vatPcts" [clearable]="false" [multiple]="false"
              [(ngModel)]="object.vatPct">
            </ng-select>
          </ngx-altea-label-control>
        </div>


        <div class="col-3">

          <ngx-altea-label-control label="dic.color" for="color">
            <input type="color" id="color" name="color" required class="form-control" [(ngModel)]="object.color" />
          </ngx-altea-label-control>


        </div>


      </div>
      <div class="row mt-3">
        <div class="col-12">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="personSelect" [(ngModel)]="object.personSelect" />
            <label class="form-check-label" for="personSelect" translate="objects.product.personSelect"></label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="staffSelect" [(ngModel)]="object.staffSelect" />
            <label class="form-check-label" for="staffSelect" translate="objects.product.staffSelect"></label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="priceFrom" [(ngModel)]="object.priceFrom" />
            <label class="form-check-label" for="priceFrom" translate="objects.product.priceFrom"></label>
          </div>

        </div>

      </div>


      <div class="row {{css_cls_row}}">
        <div class="col">
          <ngx-altea-label-control label="objects.product.type" for="type">
            <ng-select id="type" name="type" *ngIf="initialized" [items]="productType" bindLabel="trans" bindValue="key"
              [clearable]="false" [multiple]="false" [(ngModel)]="object.type"></ng-select>
          </ngx-altea-label-control>
        </div>
      </div>



      <div class="row {{css_cls_row}}">
        <div class="col">
          <ngx-altea-label-control label="objects.product.sub" for="sub">
            <ng-select id="sub" name="sub" *ngIf="initialized" [items]="productSubType" bindLabel="trans"
              bindValue="key" [clearable]="false" [multiple]="false" [(ngModel)]="object.sub"></ng-select>
          </ngx-altea-label-control>
        </div>
      </div>

      <!--       <div class="row {{css_cls_row}}">
        <div class="col">
          <div class="form-check form-switch">
            <input type="checkbox" class="form-check-input" id="bundle" name="bundle" [(ngModel)]="object.bundle">
            <label class="form-check-label" for="bundle" translate="objects.product.types.{{object.type}}.bundle"></label>
          </div>
        </div>
      </div>
 -->
    </ng-container>

  </ngx-altea-form-card-section>


  <ngx-altea-product-planning [parent]="this" [product]="object"></ngx-altea-product-planning>




  <ngx-altea-product-resources *ngIf="object.type === ProductType.svc" [parent]="this" [product]="object"
    [collection]="object.resources"></ngx-altea-product-resources>

  <ngx-altea-product-rules [parent]="this" [product]="object" [collection]="object.rules"></ngx-altea-product-rules>

  <!-- <ngx-altea-product-resources [parent]="this" [product]="object"
  [collection]="object.rules"></ngx-altea-product-resources> -->


  <ngx-altea-product-items [product]="object" [parent]="this"></ngx-altea-product-items>

  <ngx-altea-product-options [product]="object" [parent]="this"></ngx-altea-product-options>





  <ngx-altea-form-card-section *ngIf="object" sectionName="ui.product.edit.sections.visibility.title"
    sectionId="visibility" [editSectionId]="editSectionId" icon="fa-duotone fa-eye" (save)="save()" (cancel)="cancel()"
    (editModeChanged)="editModeChanged($event)">

    <ng-container readonly>

      <div class="row">
        <div class="col-12">
          <ngx-altea-label-value label="objects.product.online" [value]="object.online" valueFormat="translate"
            prefix="enums.online-mode."></ngx-altea-label-value>
        </div>
      </div>


      <div class="row mt-3">
        <div class="col-12">

          <ngx-altea-label-control layout="list" label="objects.product.visibility" for="visibility"
            help="objects.product.help.visibility">

            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="showPrice" [(ngModel)]="object.showPrice"
                onclick="return false;" />
              <label class="form-check-label" for="showPrice" translate="objects.product.showPrice"></label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="showDuration" [(ngModel)]="object.showDuration"
                onclick="return false;" />
              <label class="form-check-label" for="showDuration" translate="objects.product.showDuration"></label>
            </div>


          </ngx-altea-label-control>

        </div>
      </div>

      <div class="row mt-3">
        <div class="col-12">


          <ngx-altea-label-control layout="list" label="objects.product.pos" for="pos">

            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="showPos" [(ngModel)]="object.showPos"
                onclick="return false;" />
              <label class="form-check-label" for="showPos" translate="objects.product.showPos"></label>
            </div>

          </ngx-altea-label-control>

        </div>
      </div>

    </ng-container>

    <ng-container edit>

      <div class="row">
        <div class="col-12">

          <ngx-altea-radio-list label="objects.product.online" help="objects.product.help.online" [enum]="OnlineMode"
            [bindObject]="object" bindProp="online" transPath="enums.online-mode."></ngx-altea-radio-list>

        </div>
      </div>


      <div class="row mt-3">
        <div class="col-12">


          <ngx-altea-label-control layout="list" label="objects.product.visibility" for="visibility"
            help="objects.product.help.visibility">

            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="showPrice" [(ngModel)]="object.showPrice" />
              <label class="form-check-label" for="showPrice" translate="objects.product.showPrice"></label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="showDuration" [(ngModel)]="object.showDuration" />
              <label class="form-check-label" for="showDuration" translate="objects.product.showDuration"></label>
            </div>

          </ngx-altea-label-control>

        </div>
      </div>


      <div class="row mt-3">
        <div class="col-12">


          <ngx-altea-label-control layout="list" label="objects.product.pos" for="pos">

            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="showPos" [(ngModel)]="object.showPos" />
              <label class="form-check-label" for="showPos" translate="objects.product.showPos"></label>
            </div>

          </ngx-altea-label-control>

        </div>
      </div>


    </ng-container>
  </ngx-altea-form-card-section>


  <ngx-altea-form-card-section *ngIf="object.type === ProductType.svc"
    sectionName="ui.product.edit.sections.serviceDetails.title" sectionId="serviceDetails"
    [editSectionId]="editSectionId" icon="fa-duotone fa-user-hair-long" (save)="save()" (cancel)="cancel()"
    (editModeChanged)="editModeChanged($event)">
    <ng-container readonly>
      <div class="row">
        <div class="col-4">
          <ngx-altea-label-value label="{{ 'objects.product.customers' | translate }}"
            [value]="object.customers"></ngx-altea-label-value>
        </div>
        <div class="col-4">
          <ngx-altea-label-value label="{{ 'dic.gender' | translate }}"
            value="{{ 'enums.gender.' + object.gender | translate }}"></ngx-altea-label-value>
        </div>

      </div>




    </ng-container>
    <ng-container edit>
      <div class="row mb-3">
        <div class="col-4">
          <ngx-altea-label-control layout="basic" label="objects.product.customers" [trans]="true" for="customers"
            help="De naam van product of dienst">
            <ng-select id="customers" name="customers" [items]="nrOfPeople" [clearable]="false" [multiple]="false"
              [(ngModel)]="object.customers">
            </ng-select>
          </ngx-altea-label-control>
        </div>
        <div class="col-4">
          <ngx-altea-label-control layout="basic" label="dic.gender" [trans]="true" for="gender"
            help="De naam van product of dienst">
            <ng-select id="gender" name="gender" [items]="gender" bindLabel="trans" bindValue="key" [clearable]="false"
              [multiple]="false" [(ngModel)]="object.gender">
            </ng-select>
          </ngx-altea-label-control>
        </div>


      </div>
    </ng-container>
  </ngx-altea-form-card-section>









  <ngx-altea-form-card-section *ngIf="object" sectionName="ui.product.edit.sections.pricing.title" sectionId="pricing"
    [editSectionId]="editSectionId" icon="fa-duotone fa-credit-card" (save)="save()" (cancel)="cancel()"
    (editModeChanged)="editModeChanged($event)">
    <ng-container always>


      <ul class="list-group">
        <li class="list-group-item" (click)="addPrice()" *ngIf="editSectionId === 'pricing'">
          Voeg prijs toe
        </li>
        <li class="list-group-item" *ngFor="let price of priceChanges.orderedCol(); let idx = index">


          <div class="row mt-2">
            <div class="col">
              {{price.title}}
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              <span *ngIf="price.isAbsolute">€</span>{{ price.value }} <span *ngIf="price.isPercentage">%</span>
              <!-- idx={{price.idx}} -->
            </div>
            <div class="col-8">
              <ng-container *ngIf="price.startDate">
                vanaf {{ price.startDate | date : 'dd/MM/yyyy' }}
              </ng-container>

              <ng-container *ngIf="price.endDate">
                tot {{ price.endDate | date : 'dd/MM/yyyy' }}
              </ng-container>

            </div>
            <div class="col" *ngIf="editSectionId === 'pricing'">
              <i class="fas fa-trash float-end" (click)="deletePrice(price)"></i>
              <i class="fas fa-pen float-end me-3" (click)="editPrice(price)"></i>
              <i *ngIf="idx > 0" class="fa-solid fa-up float-end me-3" (click)="movePriceUp(price, idx)"></i>
            </div>
          </div>

          <div class="row" *ngIf="price.isQty">
            <div class="col-2">

            </div>
            <div class="col">

              Kwantumkorting: {{price.qty}}

            </div>
          </div>

          <div class="row" *ngIf="price.extraQtyOn">
            <div class="col-2">

            </div>
            <div class="col">

              Extra beurten: {{price.extraQty.val}} <span *ngIf="price.extraQty.pct">%</span>

            </div>
          </div>



          <div class="row" *ngIf="price.isDay">
            <div class="col-6">

              Enkel op dagen: {{getDaysOfWeek(price)}}

            </div>
          </div>

          <div class="row" *ngIf="price.isTime">
            <div class="col-6">

              Tijdsinterval: van {{price.from}} tot {{price.to}}

            </div>
          </div>

          <ng-container *ngIf="price.options">

            <div class="row mt-1">
              <div class="col-1">

              </div>

              <div class="col">

                <ng-container *ngFor="let optionPrice of price.options; let idx = index">

                  <div class="row mt-1">

                    <div class="col">
                      {{optionPrice.name}}
                    </div>
                    <div class="col">
                      <span *ngIf="!optionPrice.isPct">€</span>{{ optionPrice.value }} <span
                        *ngIf="optionPrice.isPct">%</span>

                    </div>

                  </div>

                  <div class="row">

                    <div class="col">

                      <ul>
                        <li *ngFor="let value of optionPrice.values">
                          {{value.name}}
                        </li>
                      </ul>

                    </div>



                  </div>





                </ng-container>


              </div>
            </div>





          </ng-container>



        </li>
      </ul>

    </ng-container>
  </ngx-altea-form-card-section>







  <ngx-altea-ngx-modal #priceModal title="{{ 'ui.price.title' | translate }}" icon="fa-duotone fa-credit-card"
    size="lg">

    <ngx-altea-product-price *ngIf="price" [product]="object" [object]="price"></ngx-altea-product-price>
  </ngx-altea-ngx-modal>


</ng-container>



<ngx-altea-delete-modal #deleteModal objectType="product" [object]="object" [objectSvc]="productSvc"
  [config]="deleteConfig" (deleted)="deleted($event)"></ngx-altea-delete-modal>


<!-- <ng-template #deleteModal let-modal>

  <div class="modal-header">
    <h4>{{ 'ui.delete-modal.title' | translate:deleteTransParams }}</h4>
  </div>
  <div class="modal-body">
    
    {{ 'ui.delete-modal.msg' | translate:deleteTransParams }}

    <div class="row mt-3">
      <div class="col-12">

        <button type="button" class="btn btn-primary float-end" (click)="confirmDelete(modal)">{{ 'ui.delete-modal.confirm' | translate }} </button>
        <button type="button" class="btn btn-outline-primary float-end me-2" (click)="cancelDelete(modal)">{{ 'ui.delete-modal.cancel' | translate }} </button>
      </div>
    </div>


  </div>

</ng-template> -->