<ng-container *ngIf="branch">

    <div class="row my-4 ">
        <div class="col-4">
            <div style="font-weight: bold;">{{branch.name}} </div>
        </div>
        <div class="col-4"> <span *ngIf="authSvc.user" style="font-size: small;">{{authSvc.user.email}}</span> </div>
        <div class="col-4">



            <button type="button" class="btn btn-primary position-relative btn-sm float-end ms-1" translate
                (click)="gotoBasket()"><i class="fa-solid fa-basket-shopping fa-lg"></i>

                <!--                     <span class="position-absolute top-0 end--20 badge rounded-pill bg-danger">
                        
                        <span class="visually-hidden">unread messages</span>
                    </span> -->

                <!--           <span class="badge text-bg-secondary">4</span>

 -->
                <span *ngIf="orderMgrSvc.hasOrderLines()"
                    class="position-absolute top-0 start-100 translate-middle p-2 bg-danger badge rounded-pill">
                    <div style="font-size: xx-small;">{{orderMgrSvc.nrOfOrderLines()}}</div>
                    <!--  <span class="visually-hidden">New alerts</span> -->
                </span>


            </button>
            <!--  -->


            <!-- 
                 <button type="button" class="btn btn-primary btn-sm" (click)="appSignOut()" translate>Sign Out</button>
                 <i class="fa-duotone fa-person-from-portal"></i>
        -->


            <button type="button" class="btn btn-primary btn-sm float-end ms-1" translate (click)="gotoMenu()"><i
                    class="fa-solid fa-bars fa-lg"></i></button>

            <button *ngIf="authSvc.loggedOn()" type="button" class="btn btn-primary btn-sm float-end ms-1" translate (click)="appSignOut()"><i
                    class="fa-duotone fa-person-from-portal fa-lg"></i></button>

            <button *ngIf="!authSvc.loggedOn()" type="button" class="btn btn-primary btn-sm float-end ms-1" translate (click)="appSignIn()"><i
                    class="fa-duotone fa-person-to-portal fa-lg"></i></button>


            <!--    <i class="fa-solid fa-bars"></i>       -->

        </div>
    </div>


    <router-outlet></router-outlet>




    <div class="row mt-4">
        <div class="col-6">
            <div style="font-weight: bold;">{{branch.name}}</div>
            <div *ngIf="branch.descr" style="font-size: small;">{{branch.descr}}</div>
            <div>{{branch.str}} {{branch.strNr}}</div>
            <div>{{branch.postal}} {{branch.city}}</div>
        </div>
        <div class="col-6">

            <div style="font-weight: bold;">Contact</div>
            <div *ngIf="branch.email">{{branch.email}}</div>
            <div *ngIf="branch.phone">{{branch.phone}}</div>
            <div *ngIf="branch.mobile">{{branch.mobile}}</div>

        </div>
    </div>



</ng-container>