<!-- <app-task *ngIf="task" [task]="task"></app-task> -->



<div class="row">
    <div class="col d-flex justify-content-center">
        <img src="assets/aquasense.png" style="width: 60%;">
    </div>
</div>
  

<div class="mt-3">

    <app-tasks (select)="taskSelected($event)"></app-tasks>

</div>


<div class="row mt-2">
    <div class="col-6"></div>
    <div class="col-6"></div>
</div>


<!-- 
<button type="button" class="btn btn-primary btn-sm" (click)="addItem()" translate>Add</button>

<button type="button" class="btn btn-primary btn-sm" (click)="updateItem()" translate>Update</button> -->