<textarea rows="15" class="form-control mt-3" id="input" name="input" [(ngModel)]="input"></textarea>

<button type="button" class="btn btn-primary btn-sm float-end mt-3" (click)="generate()">Generate</button>



<div class="row">
    <div class="col-6">

        <textarea rows="15" class="form-control mt-3" id="html" name="html" [(ngModel)]="html"></textarea>
        
    </div>
    <div class="col-6">

        <textarea rows="15" class="form-control mt-3" id="code" name="code" [(ngModel)]="code"></textarea>

    </div>
</div>