<ngx-altea-search-product [multi]="false" #searchProductModal
    (select)="productSelected($event)"></ngx-altea-search-product>


<ng-template #rewardModal let-modal>

    <div class="modal-header">
        <h4>{{ 'objects.loyalty.reward._single' | translate }}</h4>
    </div>
    <div class="modal-body">




        <div class="row mt-2">
            <div class="col">
                <ngx-altea-label-control label="objects.loyalty.reward.type" for="type">
                    <ng-select id="type" name="type" *ngIf="initialized" [items]="loyaltyRewardType" bindLabel="trans"
                        bindValue="key" [clearable]="false" [multiple]="false" [(ngModel)]="reward.type"></ng-select>
                </ngx-altea-label-control>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col">
                <ngx-altea-label-control label="objects.loyalty.reward.amount" for="amount">
                    <input id="amount" type="number" name="amount" class="form-control" [(ngModel)]="reward.amount" />
                </ngx-altea-label-control>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col">
                <ngx-altea-label-control label="objects.loyalty.reward.name" for="name">
                    <input id="name" type="text" name="name" class="form-control" [(ngModel)]="reward.name" />
                </ngx-altea-label-control>
            </div>
        </div>

        <div class="row mt-2">
            <ng-container *ngIf="reward.type == 'discount' || reward.type == 'productDiscount'">
                <div class="col">
                    <ngx-altea-label-control label="objects.loyalty.reward.discount" for="discount">
                        <input id="discount" type="number" name="discount" class="form-control"
                            [(ngModel)]="reward.discount" />
                    </ngx-altea-label-control>
                </div>
            </ng-container>
        </div>

        <ng-container *ngIf="hasProductSelection()">

            <div class="row mt-2">
                <div class="col">
                    <button type="button" class="btn btn-primary btn-sm" (click)="selectProduct()">Product</button>
                </div>
            </div>


            <div class="row mt-2">
                <div class="col">
                    <span *ngIf="reward?.product">{{reward.product.name}}</span>
                </div>
            </div>

            <ng-container *ngIf="reward.hasProductOptions()">
                <ng-container *ngFor="let option of reward.product.options; let idx = index">

                    <div class="row mt-2">
                        <div class="col">

                            {{option.name}}: <span *ngIf="option.cond">{{'enums.loyalty-option-condition.' + option.cond | translate}}</span> {{option.valueNames()}}

                            <i class="fas fa-trash float-end me-2" (click)="deleteOption(option, idx)"></i>
                        </div>
                    </div>

                </ng-container>
            </ng-container>


            <ng-container *ngIf="product?.hasOptions()">


                <div class="row mt-2">
                    <div class="col">
                        <ngx-altea-label-control label="objects.loyalty.reward.ui.select-option" for="option">
                            <ng-select id="option" name="option" [items]="product.options" bindLabel="name"
                                bindValue="id" [clearable]="false" [multiple]="false"
                                (change)="optionSelected($event)" [(ngModel)]="selectedOption"></ng-select>

                            <!--     [(ngModel)]="reward.product.options[option.id].cond" -->

                        </ngx-altea-label-control>
                    </div>
                </div>


                <div class="row mt-2" *ngIf="option?.hasValues()">

                    <div class="col-4" *ngIf="reward.type == 'productDiscount'">

                        <ngx-altea-label-control label="" for="" >
                            <ng-select id="condition" name="condition" [items]="loyaltyOptionCondition" bindLabel="trans"
                                bindValue="key" [clearable]="false" [multiple]="false"
                                [(ngModel)]="condition"></ng-select>
                        </ngx-altea-label-control>
                    </div>

                    <div class="col">
                        <ngx-altea-label-control label="" for="">
                            <ng-select id="option" name="option" [items]="option.values" bindLabel="name"
                                [clearable]="false" [multiple]="false"
                                (change)="optionValueSelected($event)" ></ng-select>

                            <!-- (change)="optionSelected($event)"    [(ngModel)]="reward.product.options[option.id].cond" -->

                        </ngx-altea-label-control>
                    </div>
                </div>



                <!-- 
            <div class="row mt-2" *ngFor="let option of product.options">
                <div class="col-4">

                    <ngx-altea-label-control label="" for="" *ngIf="reward.type == 'productDiscount'">
                        <ng-select id="gender" name="gender" [items]="loyaltyOptionCondition" bindLabel="trans"
                            bindValue="key" [clearable]="false" [multiple]="false"
                            [(ngModel)]="reward.product.options[option.id].cond"></ng-select>
                    </ngx-altea-label-control>
                </div>
                <div class="col-8">

                    <ngx-altea-label-control [label]="option.name" [for]="option.id">
                        <ng-select [id]="option.id" [items]="optionValues[option.id]" bindLabel="name"
                            [clearable]="true" [multiple]="false"
                            [(ngModel)]="reward.product.options[option.id].values[0]">
                        </ng-select>
                    </ngx-altea-label-control>

                </div>
            </div> -->



            </ng-container>


        </ng-container>

        <div class="row mt-2">

            <div class="col d-grid">
                <button type="button" class="btn btn-primary btn-sm" (click)="saveReward(modal)"
                    translate>dic.save</button>
            </div>

        </div>





    </div>
</ng-template>