<div class="row mb-2">
    <div class="col-6">
        <h2>Messages</h2>
    </div>
    <div class="col-6  d-flex justify-content-end">

        <div>
            <button type="button" class="btn {{filterColor('direction','in')}} btn-sm mx-1"
                (click)="filters.direction.in = !filters.direction.in"><i class="fa-solid fa-circle-arrow-down"></i>
                In</button>
            <button type="button" class="btn {{filterColor('direction','out')}} btn-sm mx-1"
                (click)="filters.direction.out= !filters.direction.out"><i class="fa-solid fa-circle-arrow-up"></i>
                Uit</button>


            <button type="button" class="btn {{filterColor('type','email')}} btn-sm mx-1"
                (click)="filters.type.email = !filters.type.email"><i class="fa-solid fa-envelope"></i>
                Email</button>
            <button type="button" class="btn {{filterColor('type','wa')}} btn-sm mx-1"
                (click)="filters.type.wa= !filters.type.wa"><i class="fa-brands fa-whatsapp"></i>
                Whatsapp</button>


            <button type="button" class="btn btn-primary btn-sm mx-1" (click)="getMessages()"><i
                    class="fa-solid fa-arrows-rotate"></i></button>
        </div>


    </div>
</div>


<!-- 
export enum MsgTypeIcon {
    email = 'fa-solid fa-envelope',
    sms = 'fa-solid fa-comment-sms',
    wa = 'fa-brands fa-whatsapp'
}
-->






<ul class="list-group">

    <!-- $ | async-->
    <li class="list-group-item" *ngFor="let message of messages">

        <div class="row">
            <div class="col-6">

                <h5>

                    <i [class]="MsgDirIcon[message.dir]" [style.color]="MsgDirColor[message.dir]"></i> &nbsp;
                    <i [class]="MsgTypeIcon[message.type]" [style.color]="MsgDirColor[message.dir]"></i> &nbsp;

                    <ng-container [ngSwitch]="message.dir">
                        <ng-container *ngSwitchCase="'in'">
                            <ng-container *ngIf="message.from">
                                {{'dic.from' | translate}}: {{message.from.name}} <i
                                    style="font-size: small;">[{{message.from.addr}}]</i></ng-container>
                        </ng-container>
                        <ng-container *ngSwitchCase="'out'">
                            {{'dic.to' | translate}}:
                            <ng-container *ngFor="let to of message?.to">
                                {{to.name}} <i style="font-size: small;">[{{to.addr}}]</i>
                            </ng-container>




                        </ng-container>
                    </ng-container>



                </h5>


                <ng-container *ngIf="message.type == 'email'">
                    <b>Onderwerp</b>: {{message.subj}}
                </ng-container>




            </div>
            <div class="col-2">
                <small class="float-end">{{message.sent | intdate}}</small>
            </div>
            <div class="col-4">



                <h5 class="float-end">


                    <i *ngIf="message.auto" class="fa-duotone fa-car"
                        [ngbTooltip]="'objects.message.auto' | translate"></i> &nbsp;

                    <i *ngIf="MsgStateIcon[message.state]" [class]="MsgStateIcon[message.state]"
                        [style.color]="message.stateColor()"></i> &nbsp;
                    &nbsp;
                    <i class="fa-duotone fa-trash" (click)="delete(message)"></i>
                    &nbsp;
                    <i class="fa-duotone fa-reply" (click)="toggle(message)"></i>
                </h5>



            </div>
        </div>










        <!-- 
        <button type="button" class="btn btn-primary btn-sm float-end" 
            translate>dic.reply</button> -->

        <div class="mt-2" [innerHTML]="message.body"></div>

        <!-- 
        {{message.body}}
 -->
        <ng-container *ngIf="msgId == message.id">

            <ng-container [ngSwitch]="message.type">
                <ng-container *ngSwitchCase="MsgType.email">



                    <div class="NgxEditor__Wrapper">
                        <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
                        <ngx-editor [editor]="editor" [(ngModel)]="html" [disabled]="false" height="200px"
                            style="height: 200px" [placeholder]="'Nieuw bericht...'"></ngx-editor>
                    </div>


                </ng-container>
                <ng-container *ngSwitchDefault>

                    <ngx-altea-label-control label="objects.gift.toMessage" for="body">
                        <textarea rows="2" class="form-control" id="body" name="body" style="height: 80px"
                            [(ngModel)]="body"></textarea>
                    </ngx-altea-label-control>

                </ng-container>
            </ng-container>




            <button type="button" class="btn btn-primary btn-sm float-end mt-2" (click)="sendReply(message, body)"
                translate>dic.send</button>

        </ng-container>

    </li>
</ul>