<ng-container *ngIf="object">

    <ngx-altea-delete-modal #deleteModal objectType="subscription" [object]="object" [objectSvc]="subscriptionSvc"
        [config]="deleteConfig"></ngx-altea-delete-modal>

    <div class="row">
        <div class="col-9">
            <h4>{{'objects.subscription._single' | translate}} {{object.name}}</h4>
        </div>
        <div class="col-3">

            <div class="d-inline-block float-end" ngbDropdown #myDrop="ngbDropdown">
                <button type="button" class="btn btn-outline-primary me-2" id="dropdownManual" ngbDropdownAnchor
                    (focus)="myDrop.open()">
                    Acties
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownManual">
                    <button ngbDropdownItem (click)="delete()"><i class="fa-duotone fa-trash me-1"></i>
                        Verwijderen</button>
                </div>
            </div>


        </div>

    </div>




    <ngx-altea-form-card-section sectionName="{{object.name}} - {{object.contact.name}}" sectionId="general"
        [editSectionId]="editSectionId" (save)="save()" (cancel)="cancel()" (editModeChanged)="editModeChanged($event)"
        [enableSave]="!generalForm?.form.pristine && generalForm?.form.valid">
        <ng-container readonly>
            <!-- <div>{{ object.descr }}</div> -->

            <div class="row">
                <div class="col-4"> <ngx-altea-label-value label="objects.subscription.totalQty"
                        [value]="object.totalQty"></ngx-altea-label-value> </div>
                <div class="col-4"> <ngx-altea-label-value label="objects.subscription.usedQty"
                        [value]="object.usedQty"></ngx-altea-label-value> </div>
            </div>

            <div class="row">
                <div class="col-12"> <ngx-altea-label-value label="objects.subscription.contact" valueFormat="url"
                        [value]="object.contact.name"
                        [url]="'/' + sessionSvc.branch.unique + '/contacts/' + object.contact.id"></ngx-altea-label-value>
                </div>
            </div>

            <!-- <a [routerLink]="['/', sessionSvc.branch,'subscriptions',sub.id]">{{sub.name}} </a> -->


            <div class="row">
                <div class="col-12"> <ngx-altea-label-value label="objects.subscription.name"
                        [value]="object.name"></ngx-altea-label-value> </div>
            </div>

            <div class="row">
                <div class="col-12"> <ngx-altea-label-value label="objects.subscription.remark"
                        [value]="object.remark"></ngx-altea-label-value> </div>
            </div>







        </ng-container>
        <ng-container edit>

            <form #generalForm="ngForm">



                <div class="row">
                    <div class="col-4">
                        <ngx-altea-label-control label="objects.subscription.totalQty" for="totalQty">
                            <input type="number" id="totalQty" name="totalQty" required class="form-control"
                                [(ngModel)]="object.totalQty" />
                        </ngx-altea-label-control>
                    </div>
                    <div class="col-4">
                        <ngx-altea-label-control label="objects.subscription.usedQty" for="usedQty">
                            <input type="number" id="usedQty" name="usedQty" required class="form-control"
                                [(ngModel)]="object.usedQty" />
                        </ngx-altea-label-control>
                    </div>

                </div>


                <div class="row mt-2">
                    <div class="col-12">
                        <ngx-altea-label-control label="objects.subscription.name" for="name">
                            <input type="text" id="name" name="name" class="form-control" [(ngModel)]="object.name" />
                        </ngx-altea-label-control>

                    </div>
                </div>


                <div class="row mt-2">
                    <div class="col-12">
                        <ngx-altea-label-control label="objects.subscription.remark" for="remark">
                            <textarea rows="2" class="form-control" id="remark" name="remark" style="height: 80px"
                                [(ngModel)]="object.remark"></textarea>
                        </ngx-altea-label-control>
                    </div>
                </div>






            </form>




        </ng-container>

    </ngx-altea-form-card-section>




    <ngx-altea-form-card-section sectionName="Beurten" sectionId="usage" [editSectionId]="editSectionId" (save)="save()"
        (cancel)="cancel()" (editModeChanged)="editModeChanged($event)"
        [enableSave]="!generalForm?.form.pristine && generalForm?.form.valid">
        <ng-container readonly>

            <ng-container *ngIf="object.hasPayments()">

                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-3">Gereserveerd</div>
                    <div class="col-3">Afspraak</div>
                </div>




                <div class="row" *ngFor="let pay of object.payments; let idx = index">
                    <div class="col-1">{{idx + 1}}</div>
                    <div class="col-3">{{pay.date | intdate}}</div>
                    <div class="col-3">

                        <a [routerLink]="['/', 'aqua','orders','manage',pay.orderId]">{{pay.order.start | intdate}}</a>

                    </div>
                    <div class="col-3">{{'enums.order-state.' + pay.order.state | translate}}</div>


                </div>



            </ng-container>

        </ng-container>
    </ngx-altea-form-card-section>



</ng-container>