<div class="row">
    <div class="col d-flex justify-content-center">

        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">

            <input type="radio" class="btn-check" name="menu" id="start" value="start" autocomplete="off" [(ngModel)]="mode">
            <label class="btn btn-outline-primary" for="start" translate>ui.order-mgr.pos.menu.start</label>

            <input type="radio" class="btn-check" name="menu" id="compose" value="compose" autocomplete="off" [(ngModel)]="mode">
            <label class="btn btn-outline-primary" for="compose" translate>ui.order-mgr.pos.menu.compose</label>

            <input type="radio" class="btn-check" name="menu" id="plan" value="plan" autocomplete="off" [(ngModel)]="mode">
            <label class="btn btn-outline-primary" for="plan" translate>ui.order-mgr.pos.menu.plan</label>

            <input type="radio" class="btn-check" name="menu" id="contact" value="contact" autocomplete="off" [(ngModel)]="mode">
            <label class="btn btn-outline-primary" for="contact" translate>ui.order-mgr.pos.menu.contact</label>

            <input type="radio" class="btn-check" name="menu" id="pay" value="pay" autocomplete="off" [(ngModel)]="mode">
            <label class="btn btn-outline-primary" for="pay" translate>ui.order-mgr.pos.menu.pay</label>

        </div>
    </div>
</div>


<div class="row">
    

    <div class="col-8">

        <ng-container *ngIf="mode == 'start'">

            <div class="row">

                <div class="col-6">
                    <altea-lib-main-menu [menu]="menu" (select)="menuClicked($event)"></altea-lib-main-menu>
              
                </div>
                <div class="col-6">


                </div>
            </div>

        </ng-container> 

        <ng-container *ngIf="mode == 'buyGift'">

            <div class="row">

                <div class="col-6">
                    <altea-lib-request-gift (request)="newGift($event)"></altea-lib-request-gift>
              
                </div>
                <div class="col-6">

                    <order-mgr-contact-select (select)="contactSelected($event)"></order-mgr-contact-select>
                    <order-mgr-contact-select2 #editContact></order-mgr-contact-select2>
            
                </div>
            </div>

        </ng-container> 


        <ng-container *ngIf="mode == 'compose'">

            <div class="row">

                <div class="col-6">

                    <ngx-altea-browse-catalog></ngx-altea-browse-catalog>
            
                    <order-mgr-product-list></order-mgr-product-list>
              
                </div>
                <div class="col-6">

                    
            
                    <order-mgr-order-line [showConfirm]="false"></order-mgr-order-line>
            
                </div>
            </div>

        </ng-container>

        <ng-container *ngIf="mode == 'plan'">
        
            <div class="row" *ngIf="orderMgrSvc.order.hasPlanningLines()">

                <div class="col-6">
                    <order-mgr-select-date></order-mgr-select-date>
              
                </div>
                <div class="col-6">

                    <order-mgr-select-time-slot [otherDateButton]="false" (selected)="timeSlotSelected($event)"></order-mgr-select-time-slot>

                </div>
            </div>
        
        </ng-container>

        <ng-container *ngIf="mode == 'contact'">
        
            <div class="row">

                <div class="col-6">
                    <order-mgr-contact-select (select)="contactSelected($event)"></order-mgr-contact-select>
              
                </div>
                <div class="col-6">

                    <order-mgr-contact-select2 #editContact [contact]="orderMgrSvc.order.contact"></order-mgr-contact-select2>

                </div>
            </div>
        
        </ng-container>

        <ng-container *ngIf="mode == 'pay'">
        
            <div class="row">

                <div class="col-6">
                   
              
                </div>
                <div class="col-6">

                    <order-mgr-pos-payment></order-mgr-pos-payment>

                </div>
            </div>
        
        </ng-container>

        <ng-container *ngIf="mode == 'cancel'">
        
            <div class="row">

                <div class="col-6">
                   
              
                </div>
                <div class="col-6">
                    <order-mgr-cancel-order [order]="orderMgrSvc.order"></order-mgr-cancel-order>
                </div>
            </div>
        
        </ng-container>


    </div>
    



    <div class="col-4">

        <order-mgr-order [showConfirm]="showConfirm" (orderLineSelected)="orderLineSelected($event)" (cancel)="cancelOrder($event)" (continue)="orderContinue()"></order-mgr-order>

<!-- 
        <order-mgr-person-select></order-mgr-person-select> -->
    </div>
</div>

<div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" id="smsOn" name="smsOn" [(ngModel)]="debug" />
    <label class="form-check-label" for="smsOn">Debug info</label>
</div>


<ng-container *ngIf="debug">

    <div class="row">
        <div class="col-8">
    

            <order-mgr-order-debug-info [order]="orderMgrSvc.order"></order-mgr-order-debug-info>

            <order-mgr-debug-messaging></order-mgr-debug-messaging>
            <!--
                        <order-mgr-order-summary [order]="orderMgrSvc.order"></order-mgr-order-summary>
            <order-mgr-debug-messaging></order-mgr-debug-messaging>
            -->

        
        </div>
        <div class="col-4">
    
            <order-mgr-demo-orders></order-mgr-demo-orders>
        </div>
    </div>
    
    
    <order-mgr-debug-plannings *ngIf="orderMgrSvc.plannings" [plannings]="orderMgrSvc.plannings" ></order-mgr-debug-plannings>
    
    <order-mgr-debug-availability [response]="orderMgrSvc.availabilityResponse"></order-mgr-debug-availability>
    
    
    

</ng-container>

