

<ngx-altea-browse-catalog></ngx-altea-browse-catalog>
<!-- 
<ngx-altea-browse-catalog></ngx-altea-browse-catalog>


<div class="row">
    <div class="col-4">
        <div>   

            <button type="button" class="btn btn-primary btn-sm"
                (click)="showPersonSelect=!showPersonSelect">Personen</button>
        </div>


        <order-mgr-person-select *ngIf="showPersonSelect"></order-mgr-person-select>


        <order-mgr-product-list></order-mgr-product-list>

        <order-mgr-select-date></order-mgr-select-date>
    </div>
    <div class="col-4">

        <order-mgr-select-time-slot></order-mgr-select-time-slot>

        <order-mgr-order-line></order-mgr-order-line>

        <order-mgr-pos-payment></order-mgr-pos-payment>

    </div>
    <div class="col-4">
        <order-mgr-order></order-mgr-order>

        <order-mgr-demo-orders></order-mgr-demo-orders>
        <order-mgr-contact-select></order-mgr-contact-select>
    </div>
</div>



<order-mgr-debug-availability [response]="orderMgrSvc.availabilityResponse"></order-mgr-debug-availability> -->