<ng-container *ngIf="object">

    <ng-template #reminders>

        <div *ngIf="object.hasReminders()" class="mt-3">

            <div class="row mb-2">
                <div class="col-2" translate>dic.msgType</div>
                <div class="col-2" translate>objects.reminder.dur</div>
            </div>

            <div class="row" *ngFor="let reminder of object.reminders; let idx = index">
                <div class="col-2">{{'enums.msg-type.' + reminder.type | translate}}</div>
                <div class="col-2">{{reminder.dur}} {{reminder.unit}}
                    <i *ngIf="sectionInEditIs('reminders')" class="fas fa-trash float-end"
                        (click)="deleteReminder(idx)"></i>
                </div>

                <div class="col-3">


                    <!-- 
                    <button type="button" class="btn btn-primary btn-sm" (click)="deleteReminder(idx)"
                        translate>dic.delete</button> -->
                </div>
            </div>

        </div>

    </ng-template>

    <ngx-altea-form-card-section sectionName="ui.branch.edit.sections.general.title" sectionId="general"
        [editSectionId]="editSectionId" (save)="save()" (cancel)="cancel()" (editModeChanged)="editModeChanged($event)"
        [enableSave]="!generalForm?.form.pristine && generalForm?.form.valid">

        <ng-container readonly>

            <div class="row">
                <div class="col-4">
                    <div class="subSection" translate>dic.name</div>
                    <div>{{object.name}}</div>
                    <span *ngIf="object.descr" style="font-style: italic;">{{object.descr}}</span>
                </div>
                <div class="col-4">
                    <div class="subSection" translate>dic.communication</div>

                    <ngx-altea-label-value label="dic.email" [value]="object.email"></ngx-altea-label-value>
                    <ngx-altea-label-value label="dic.phone" [value]="object.phone"></ngx-altea-label-value>
                    <ngx-altea-label-value label="dic.mobile" [value]="object.mobile"></ngx-altea-label-value>
                </div>
                <div class="col-4">
                    <div class="subSection" translate>dic.language</div>

                    <ngx-altea-label-value label="objects.branch.language"
                        [value]="object.lang"></ngx-altea-label-value>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-4">
                    <div class="subSection" translate>dic.address</div>
                    {{object.str}}, {{object.strNr}}<br>
                    {{object.postal}} {{object.city}} - {{object.country}}


                </div>
                <div class="col-4">

                    <div class="subSection" translate>ui.branch.edit.sections.general.vat</div>

                    <ngx-altea-label-value label="objects.branch.vatPcts" [value]="object.vatPcts"
                        unit="%"></ngx-altea-label-value>
                    <ngx-altea-label-value label="objects.branch.vatPct" [value]="object.vatPct"
                        unit="%"></ngx-altea-label-value>
                    <ngx-altea-label-value label="objects.branch.vatNr" [value]="object.vatNr"></ngx-altea-label-value>
                    <ngx-altea-label-value label="objects.branch.vatIncl" valueFormat="yesNo"
                        [value]="object.vatIncl"></ngx-altea-label-value>
                </div>
                <div class="col-4">
                    <div class="subSection" translate>dic.currency</div>
                    {{object.cur}} = {{'enums.currency.' + object.cur | translate}}

                </div>
            </div>

        </ng-container>


        <ng-container edit>

            <form #generalForm="ngForm" *ngIf="initialized">

                <div class="subSectionEdit" translate>dic.name</div>

                <div class="row mt-3">
                    <div class="col-3">
                        <ngx-altea-label-control label="objects.branch.name" for="name">
                            <input required type="text" id="name" name="name" class="form-control"
                                [(ngModel)]="object.name" />
                        </ngx-altea-label-control>
                    </div>

                    <div class="col-6">
                        <ngx-altea-label-control label="dic.descr" for="descr">
                            <input type="text" id="descr" name="descr" class="form-control"
                                [(ngModel)]="object.descr" />
                        </ngx-altea-label-control>
                    </div>

                </div>


                <div class="subSectionEdit" translate>dic.language</div>

                <div class="row mt-3">
                    <div class="col-3">
                        <ngx-altea-label-control label="dic.language" [trans]="true" for="language">
                            <ng-select id="language" name="language" [items]="languages" bindLabel="trans"
                                bindValue="key" [clearable]="false" [multiple]="false" [(ngModel)]="object.lang">
                            </ng-select>
                        </ngx-altea-label-control>
                    </div>
                </div>




                <div class="subSectionEdit" translate>dic.communication</div>

                <div class="row mt-3">
                    <div class="col-3">
                        <ngx-altea-label-control label="dic.email" for="email">
                            <input type="text" id="email" name="email" class="form-control"
                                [(ngModel)]="object.email" />
                        </ngx-altea-label-control>
                    </div>
                    <div class="col-3">
                        <ngx-altea-label-control label="dic.phone" for="phone">
                            <input type="text" id="phone" name="phone" class="form-control"
                                [(ngModel)]="object.phone" />
                        </ngx-altea-label-control>
                    </div>
                    <div class="col-3">
                        <ngx-altea-label-control label="dic.mobile" for="mobile">
                            <input type="text" id="mobile" name="mobile" class="form-control"
                                [(ngModel)]="object.mobile" />
                        </ngx-altea-label-control>
                    </div>
                </div>

                <div class="subSectionEdit" translate>dic.address</div>

                <div class="row mt-3">
                    <div class="col-3">
                        <ngx-altea-label-control label="objects.address.street" for="street">
                            <input type="text" id="street" name="street" class="form-control"
                                [(ngModel)]="object.str" />
                        </ngx-altea-label-control>
                    </div>
                    <div class="col-2">
                        <ngx-altea-label-control label="objects.address.streetNr" for="streetNr">
                            <input type="text" id="streetNr" name="streetNr" class="form-control"
                                [(ngModel)]="object.strNr" />
                        </ngx-altea-label-control>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-2">
                        <ngx-altea-label-control label="objects.address.postal" for="postal">
                            <input type="text" id="postal" name="postal" class="form-control"
                                [(ngModel)]="object.postal" />
                        </ngx-altea-label-control>
                    </div>
                    <div class="col-3">
                        <ngx-altea-label-control label="objects.address.city" for="city">
                            <input type="text" id="city" name="city" class="form-control" [(ngModel)]="object.city" />
                        </ngx-altea-label-control>
                    </div>
                </div>


                <div class="row mt-3">
                    <div class="col-3">
                        <ngx-altea-label-control label="objects.address.country" [trans]="true" for="country">
                            <ng-select id="country" name="country" [items]="countries" bindLabel="trans" bindValue="key"
                                [clearable]="false" [multiple]="false" [(ngModel)]="object.country">
                            </ng-select>
                        </ngx-altea-label-control>
                    </div>

                </div>



                <div class="row">
                    <div class="col-6">

                        <div class="subSectionEdit" translate="">ui.branch.edit.sections.general.vat</div>

                        <div class="row mt-3">
                            <div class="col-6">

                                <ngx-altea-label-control label="objects.branch.vatPcts" for="vatPcts">
                                    <ng-select id="vatPcts" name="vatPcts" [items]="vatPctgs" bindLabel="label"
                                        bindValue="pct" [clearable]="false" [multiple]="true"
                                        [(ngModel)]="object.vatPcts">
                                    </ng-select>
                                </ngx-altea-label-control>


                            </div>
                            <div class="col-6">
                                <ngx-altea-label-control label="objects.branch.vatPct" for="vatPct">
                                    <ng-select id="vatPct" name="vatPct" [items]="object.vatPcts" [clearable]="false"
                                        [multiple]="false" [(ngModel)]="object.vatPct">
                                    </ng-select>
                                </ngx-altea-label-control>

                            </div>

                        </div>

                        <div class="row mt-3">
                            <div class="col-6">
                                <ngx-altea-label-control label="objects.branch.vatNr" for="vatNr">
                                    <input type="text" id="vatNr" name="vatNr" class="form-control"
                                        [(ngModel)]="object.vatNr" />
                                </ngx-altea-label-control>
                            </div>

                            <div class="col-6">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="vatIncl" name="vatIncl"
                                        [(ngModel)]="object.vatIncl" />
                                    <label class="form-check-label" for="vatIncl"
                                        translate="objects.branch.vatIncl"></label>
                                </div>
                            </div>

                        </div>


                    </div>

                    <div class="col-6">


                        <div class="subSectionEdit" translate>dic.currency</div>

                        <div class="row mt-3">
                            <div class="col-6">
                                <ngx-altea-label-control label="dic.currency" [trans]="true" for="currency">
                                    <ng-select id="currency" name="currency" [items]="currencies" bindLabel="trans"
                                        bindValue="key" [clearable]="false" [multiple]="false" [(ngModel)]="object.cur">
                                    </ng-select>
                                </ngx-altea-label-control>
                            </div>
                        </div>


                        <div class="row mt-3">
                            <div class="col-6">

                                <ngx-altea-label-control label="objects.branch.cancel" for="cancelTime">
                                    <ng-select id="cancelTime" name="cancelTime" [items]="cancelTimes" bindLabel="label"
                                        bindValue="hours" [clearable]="false" [multiple]="false"
                                        [(ngModel)]="object.cancel">
                                    </ng-select>
                                </ngx-altea-label-control>


                            </div>
                        </div>

                    </div>

                </div>








            </form>
        </ng-container>

    </ngx-altea-form-card-section>


    <ngx-altea-form-card-section sectionName="ui.branch.edit.sections.communication.title" sectionId="communication"
        [editSectionId]="editSectionId" (save)="save()" (cancel)="cancel()" (editModeChanged)="editModeChanged($event)"
        [enableSave]="!communicationForm?.form.pristine && communicationForm?.form.valid">

        <ng-container readonly>


            <div class="row">
                <div class="col-4">
                    <ngx-altea-label-value label="objects.branch.emailFrom"
                        [value]="object.emailFrom"></ngx-altea-label-value>
                </div>
                <div class="col-4">
                    <ngx-altea-label-value label="objects.branch.emailBcc"
                        [value]="object.emailBcc"></ngx-altea-label-value>
                </div>

            </div>

            <div class="row">
                <div class="col-4">
                    <ngx-altea-label-value label="objects.branch.smsOn" valueFormat="yesNo"
                        [value]="object.smsOn"></ngx-altea-label-value>
                </div>

            </div>

        </ng-container>


        <ng-container edit>

            <form #communicationForm="ngForm">

                <div class="row mt-3">
                    <div class="col-4">
                        <ngx-altea-label-control label="objects.branch.emailFrom" for="emailFrom">
                            <input type="email" id="emailFrom" name="emailFrom" class="form-control"
                                [(ngModel)]="object.emailFrom" />
                        </ngx-altea-label-control>
                    </div>
                    <div class="col-4">
                        <ngx-altea-label-control label="objects.branch.emailBcc" for="emailBcc">
                            <input type="email" id="emailBcc" name="emailBcc" class="form-control"
                                [(ngModel)]="object.emailBcc" />
                        </ngx-altea-label-control>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-4">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="smsOn" name="smsOn"
                                [(ngModel)]="object.smsOn" />
                            <label class="form-check-label" for="smsOn" translate="objects.branch.smsOn"></label>
                        </div>
                    </div>
                </div>

                <div class="row mt-3" *ngIf="object.comm">
                    <div class="col">

                        <ngx-altea-label-control label="dic.footer" for="footer">
                            <textarea rows="4" class="form-control" id="footer" name="footer" style="height: 80px"
                                [(ngModel)]="object.comm.footer"></textarea>
                        </ngx-altea-label-control>

                    </div>
                </div>





            </form>
        </ng-container>

    </ngx-altea-form-card-section>

    <ngx-altea-form-card-section sectionName="ui.branch.edit.sections.gift.title" sectionId="gift"
        [editSectionId]="editSectionId" (save)="save()" (cancel)="cancel()" (editModeChanged)="editModeChanged($event)"
        [enableSave]="!giftForm?.form.pristine && giftForm?.form.valid">

        <ng-container readonly>

            <div class="row">
                <div class="col-4">
                    <ngx-altea-label-value label="objects.branch.gift.on" valueFormat="yesNo"
                        [value]="object.giftOn"></ngx-altea-label-value>
                </div>

            </div>



            <div class="row" *ngIf="object.giftOn && object.gift">
                <div class="col-1">

                </div>
                <div class="col">


                    <div class="row mt-3">
                        <div class="col-4" *ngIf="object.gift?.methods">

                            <div class="subSection" translate>objects.branch.gift.methods.title</div>
                            <ul>
                                <li translate *ngIf="object.gift.methods.email">objects.branch.gift.methods.email</li>
                                <li translate *ngIf="object.gift.methods.postal">{{'objects.branch.gift.methods.postal'
                                    | translate}} <span *ngIf="object.gift.price.postal">: €{{object.gift.price.postal}}
                                        extra</span></li>
                                <li translate *ngIf="object.gift.methods.pos">objects.branch.gift.methods.pos</li>

                                <li *ngIf="!object.gift.methods.email"><s
                                        translate>objects.branch.gift.methods.email</s></li>
                                <li *ngIf="!object.gift.methods.postal"><s
                                        translate>objects.branch.gift.methods.postal</s></li>
                                <li *ngIf="!object.gift.methods.pos"><s translate>objects.branch.gift.methods.pos</s>
                                </li>
                            </ul>



                        </div>

                        <div class="col-4" *ngIf="object.gift?.types">


                            <div class="subSection" translate>objects.branch.gift.types.title</div>
                            <ul>
                                <li translate *ngIf="object.gift.types.amount">objects.branch.gift.types.amount</li>
                                <li translate *ngIf="object.gift.types.svc">objects.branch.gift.types.svc</li>
                                <li translate *ngIf="object.gift.types.prod">objects.branch.gift.types.prod</li>

                                <li *ngIf="!object.gift.types.amount"><s translate>objects.branch.gift.types.amount</s>
                                </li>
                                <li *ngIf="!object.gift.types.svc"><s translate>objects.branch.gift.types.svc</s></li>
                                <li *ngIf="!object.gift.types.prod"><s translate>objects.branch.gift.types.prod</s></li>
                            </ul>



                        </div>
                    </div>



                    <div class="row mt-2">
                        <div class="col-4">

                            <div class="subSection" translate>objects.branch.gift.expire.title</div>

                            <span *ngIf="!object.gift.expire.on" translate>objects.branch.gift.expire.indefinite</span>

                            <span *ngIf="object.gift.expire.on">{{'objects.branch.gift.expire.limited' | translate}}:
                                {{object.gift.expire.after}} {{'dic.months' | translate}}</span>


                        </div>

                        <div class="col-4">

                            <div class="subSection" translate>objects.branch.gift.price.new-title</div>

                            <span *ngIf="!object.gift.price.new" translate>objects.branch.gift.price.new-false</span>

                            <span *ngIf="object.gift.price.new">{{'objects.branch.gift.price.new-true' | translate}}
                                {{object.gift.price.newAfter}} {{'dic.months' | translate}}</span>


                        </div>

                    </div>

                    <div class="row mt-3">
                        <div class="col-4">

                            <div class="subSection" translate>objects.branch.gift.invoice.title</div>

                            <span *ngIf="object.gift.invoice.on" translate>objects.branch.gift.invoice.on</span>
                            <span *ngIf="!object.gift.invoice.on" translate>objects.branch.gift.invoice.off</span>

                            <ng-container *ngIf="object.gift.invoice.on && object.gift.invoice.vatPcts">
                                <ng-container *ngFor="let vatPct of object.gift.invoice.vatPcts">
                                    <div class="row" *ngIf="vatPct.on">
                                        <div class="col-1">

                                        </div>

                                        <div class="col">

                                            {{vatPct.pct}}% <span *ngIf="vatPct.descr">: {{vatPct.descr}}</span>

                                        </div>


                                    </div>
                                </ng-container>

                            </ng-container>

                        </div>

                    </div>









                </div>
            </div>


        </ng-container>


        <ng-container edit>

            <form #giftForm="ngForm">

                <div class="row mt-3">
                    <div class="col-4">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="giftOn" name="giftOn"
                                [(ngModel)]="object.giftOn" (change)="toggleGift()" />
                            <label class="form-check-label" for="giftOn" translate="objects.branch.gift.on"></label>
                        </div>
                    </div>
                </div>


                <div class="row" *ngIf="object.giftOn && object.gift">
                    <div class="col-1">

                    </div>
                    <div class="col">


                        <div class="row mt-3">
                            <div class="col-4" *ngIf="object.gift?.methods">

                                <ngx-altea-label-control layout="list" label="objects.branch.gift.methods.title"
                                    for="visibility">

                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="email" name="email"
                                            [(ngModel)]="object.gift.methods.email" />
                                        <label class="form-check-label" for="email"
                                            translate="objects.branch.gift.methods.email"></label>
                                    </div>


                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="postal" name="postal"
                                            [(ngModel)]="object.gift.methods.postal" />
                                        <label class="form-check-label" for="postal"
                                            translate="objects.branch.gift.methods.postal"></label>

                                    </div>

                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="pos" name="pos"
                                            [(ngModel)]="object.gift.methods.pos" />
                                        <label class="form-check-label" for="pos"
                                            translate="objects.branch.gift.methods.pos"></label>
                                    </div>

                                </ngx-altea-label-control>

                            </div>

                            <div class="col-4" *ngIf="object.gift?.types">

                                <ngx-altea-label-control layout="list" label="objects.branch.gift.types.title"
                                    for="types">

                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="amount" name="amount"
                                            [(ngModel)]="object.gift.types.amount" />
                                        <label class="form-check-label" for="amount"
                                            translate="objects.branch.gift.types.amount"></label>
                                    </div>


                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="svc" name="svc"
                                            [(ngModel)]="object.gift.types.svc" />
                                        <label class="form-check-label" for="svc"
                                            translate="objects.branch.gift.types.svc"></label>
                                    </div>

                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="prod" name="prod"
                                            [(ngModel)]="object.gift.types.prod" />
                                        <label class="form-check-label" for="prod"
                                            translate="objects.branch.gift.types.prod"></label>
                                    </div>

                                </ngx-altea-label-control>



                            </div>
                        </div>

                        <div class="row mt-3" *ngIf="object.gift.methods.postal">
                            <div class="col-3">
                                <ngx-altea-label-control label="objects.branch.gift.price.postal" for="postalPrice">
                                    <input required type="number" id="postalPrice" name="postalPrice"
                                        class="form-control" [(ngModel)]="object.gift.price.postal" />
                                </ngx-altea-label-control>
                            </div>
                        </div>


                        <div class="row mt-3">
                            <div class="col-4">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="expireOn" name="expireOn"
                                        [(ngModel)]="object.gift.expire.on" />
                                    <label class="form-check-label" for="expireOn"
                                        translate="objects.branch.gift.expire.on"></label>
                                </div>
                            </div>

                            <div class="col-4" *ngIf="object.gift.expire.on">

                                <ngx-altea-label-control label="objects.branch.gift.expire.after" for="after">
                                    <ng-select id="after" name="after" [items]="nrOfMonths" [clearable]="false"
                                        [multiple]="false" [(ngModel)]="object.gift.expire.after">
                                    </ng-select>
                                </ngx-altea-label-control>



                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-4">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="priceNew" name="priceNew"
                                        [(ngModel)]="object.gift.price.new" />
                                    <label class="form-check-label" for="expireOn"
                                        translate="objects.branch.gift.price.new"></label>
                                </div>
                            </div>

                            <div class="col-4" *ngIf="object.gift.price.new">

                                <ngx-altea-label-control label="objects.branch.gift.price.newAfter" for="newAfter">
                                    <ng-select id="newAfter" name="newAfter" [items]="nrOfMonths" [clearable]="false"
                                        [multiple]="false" [(ngModel)]="object.gift.price.newAfter">
                                    </ng-select>
                                </ngx-altea-label-control>



                            </div>
                        </div>




                        <div class="row mt-3">
                            <div class="col-4">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="invoiceOn" name="invoiceOn"
                                        [(ngModel)]="object.gift.invoice.on" (change)="initGiftVatPcts()" />
                                    <label class="form-check-label" for="expireOn"
                                        translate="objects.branch.gift.invoice.on"></label>
                                </div>
                            </div>
                        </div>


                        <ng-container *ngIf="object.gift.invoice.on && object.gift.invoice.vatPcts">
                            <ng-container *ngFor="let vatPct of object.gift.invoice.vatPcts">
                                <div class="row mt-1">
                                    <div class="col-1">

                                    </div>

                                    <div class="col-1">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="vat{{vatPct.pct}}"
                                                name="vat{{vatPct.pct}}" [(ngModel)]="vatPct.on" />
                                            <label class="form-check-label"
                                                for="vat{{vatPct.pct}}">{{vatPct.pct}}%</label>
                                        </div>

                                    </div>

                                    <div class="col-6">
                                        <input type="text" id="vat{{vatPct.pct}}descr" name="vat{{vatPct.pct}}descr"
                                            class="form-control" [(ngModel)]="vatPct.descr" />
                                    </div>

                                </div>
                            </ng-container>


                        </ng-container>






                    </div>
                </div>




            </form>
        </ng-container>

    </ngx-altea-form-card-section>




    <ngx-altea-form-card-section sectionName="ui.branch.edit.sections.reminders.title" sectionId="reminders"
        [editSectionId]="editSectionId" (save)="save()" (cancel)="cancel()" (editModeChanged)="editModeChanged($event)"
        [enableSave]="!remindersForm?.form.pristine && remindersForm?.form.valid"
        help="ui.branch.edit.sections.reminders.help">

        <ng-container readonly>

            <ng-container *ngTemplateOutlet="reminders"></ng-container>

        </ng-container>

        <ng-container edit>

            <form #remindersForm="ngForm" *ngIf="initialized">

                <ng-container *ngTemplateOutlet="reminders"></ng-container>

                <div class="row mt-3">
                    <div class="col-2">

                        <ngx-altea-label-control label="dic.msgType" [trans]="true" for="msgType">
                            <ng-select id="msgType" name="msgType" [items]="msgTypes" bindLabel="trans" bindValue="key"
                                [clearable]="false" [multiple]="false" [(ngModel)]="newReminder.type">
                            </ng-select>
                        </ngx-altea-label-control>


                    </div>
                    <div class="col-1">
                        <ngx-altea-label-control label="dic.duration" for="next-day">
                            <input type="number" id="next-day" name="next-day" class="form-control"
                                [(ngModel)]="newReminder.dur" />
                        </ngx-altea-label-control>

                    </div>
                    <div class="col-2">

                        <ngx-altea-label-control label="dic.timeUnit" [trans]="true" for="timeUnit">
                            <ng-select id="timeUnit" name="timeUnit" [items]="timeUnits" bindLabel="trans"
                                bindValue="key" [clearable]="false" [multiple]="false" [(ngModel)]="newReminder.unit">
                            </ng-select>
                        </ngx-altea-label-control>

                    </div>
                    <div class="col-3">



                        <button type="button" class="btn btn-primary" (click)="addReminder()" translate>dic.add</button>
                    </div>
                </div>




            </form>

        </ng-container>


    </ngx-altea-form-card-section>



    <ngx-altea-form-card-section sectionName="ui.branch.edit.sections.deposit.title" sectionId="deposit"
        [editSectionId]="editSectionId" (save)="save()" (cancel)="cancel()" (editModeChanged)="editModeChanged($event)"
        help="ui.branch.edit.sections.deposit.help"
        [enableSave]="!depositForm?.form.pristine && depositForm?.form.valid">

        <ng-container readonly>



            <ng-container *ngIf="object.depositPct; else noDepositReadonly">

                <div class="row">
                    <div class="col-6"><ngx-altea-label-value label="ui.deposit.request"
                            [value]="'' + Math.round(object.depositPct)" unit="%"></ngx-altea-label-value></div>

                </div>

                <div class="row mt-3">
                    <div class="col">
                        {{ 'ui.deposit.terms.info' | translate }}
                    </div>
                </div>

                <ul>
                    <li *ngIf="object.sameDayTerm">{{'ui.deposit.terms.same-day' | translate}}: {{object.sameDayTerm}}
                        {{'dic.hour' | translate}}</li>
                    <li *ngIf="object.nextDayTerm">{{'ui.deposit.terms.next-day' | translate}}: {{object.nextDayTerm}}
                        {{'dic.hour' | translate}}</li>
                    <li *ngIf="object.nextWeekTerm">{{'ui.deposit.terms.next-week' | translate}}:
                        {{object.nextWeekTerm}} {{'dic.hour' | translate}}</li>
                    <li *ngIf="object.nextMonthTerm">{{'ui.deposit.terms.next-month' | translate}}:
                        {{object.nextMonthTerm}} {{'dic.hour' | translate}}</li>
                </ul>

            </ng-container>


            <ng-template #noDepositReadonly>

                <span translate>ui.deposit.none</span>



            </ng-template>






        </ng-container>

        <ng-container edit>



            <form #depositForm="ngForm">


                <div class="row">
                    <div class="col-3">

                        <ngx-altea-label-control label="ui.deposit.request" for="depositPct">
                            <ng-select id="depositPct" name="depositPct" [items]="depositPctgs" bindLabel="label"
                                bindValue="pct" [clearable]="false" [multiple]="false" [(ngModel)]="object.depositPct">
                            </ng-select>
                        </ngx-altea-label-control>


                    </div>
                    <div class="col-3"></div>
                    <div class="col-3"></div>
                </div>


                <ng-container *ngIf="object.depositPct">

                    <div class="row mt-3">
                        <div class="col">
                            {{ 'ui.deposit.terms.info' | translate }}
                        </div>
                    </div>

                    <div class="row mt-1">
                        <div class="col-3">

                            <ngx-altea-label-control label="ui.deposit.terms.same-day" for="same-day">
                                <input type="number" id="same-day" name="same-day" class="form-control"
                                    [(ngModel)]="object.sameDayTerm" (change)="markAsDirty()" />
                            </ngx-altea-label-control>

                        </div>
                        <div class="col-3">

                            <ngx-altea-label-control label="ui.deposit.terms.next-day" for="next-day">
                                <input type="number" id="next-day" name="next-day" class="form-control"
                                    [(ngModel)]="object.nextDayTerm" />
                            </ngx-altea-label-control>

                        </div>
                        <div class="col-3">

                            <ngx-altea-label-control label="ui.deposit.terms.next-week" for="next-week">
                                <input type="number" id="next-week" name="next-week" class="form-control"
                                    [(ngModel)]="object.nextWeekTerm" />
                            </ngx-altea-label-control>

                        </div>
                        <div class="col-3">

                            <ngx-altea-label-control label="ui.deposit.terms.next-month" for="next-month">
                                <input type="number" id="next-month" name="next-month" class="form-control"
                                    [(ngModel)]="object.nextMonthTerm" />
                            </ngx-altea-label-control>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col help">
                            Stel hierboven in hoeveel uur uw klanten de tijd hebben om hun voorschot te betalen
                            afhankelijk van het tijdstip van reserveren.
                        </div>
                    </div>

                </ng-container>


            </form>

        </ng-container>

    </ngx-altea-form-card-section>


    <ngx-altea-form-card-section sectionName="ui.branch.edit.sections.prodSales.title" sectionId="prodSales"
        [editSectionId]="editSectionId" (save)="save()" (cancel)="cancel()" (editModeChanged)="editModeChanged($event)"
        help="ui.branch.edit.sections.prodSales.help"
        [enableSave]="!prodSalesForm?.form.pristine && prodSalesForm?.form.valid">

        <ng-container readonly>

            <ng-container *ngIf="object.prodSales; else noProdSalesReadonly">


                <div class="row">
                    <div class="col-12">
                        <ngx-altea-label-value label="objects.branch.prodSales.pickup.on" valueFormat="yesNo"
                            [value]="object.prodSales.pickup.on"></ngx-altea-label-value>
                    </div>

                </div>


                <div class="row">
                    <div class="col-12">
                        <ngx-altea-label-value label="objects.branch.prodSales.ship.on" valueFormat="yesNo"
                            [value]="object.prodSales.ship.on"></ngx-altea-label-value>
                    </div>

                </div>





            </ng-container>


            <ng-template #noProdSalesReadonly>

                <span translate>ui.deposit.none</span>



            </ng-template>






        </ng-container>

        <ng-container edit>

            <!-- 
            (change)="toggleGift()"
             -->

            <form #prodSalesForm="ngForm">

                <div class="row mt-3">
                    <div class="col-12">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="pickupOn" name="pickupOn"
                                [(ngModel)]="object.prodSales.pickup.on" />
                            <label class="form-check-label" for="pickupOn"
                                translate="objects.branch.prodSales.pickup.on"></label>
                        </div>
                    </div>
                </div>

                <div class="ms-5 mt-3" *ngIf="object.prodSales.pickup.on">

                    <div class="row">

                        <div class="col-4">

                            <ngx-altea-label-control label="objects.branch.prodSales.pickup.dur" for="pickupDur">
                                <input type="number" id="pickupDur" name="pickupDur" class="form-control"
                                    [(ngModel)]="object.prodSales.pickup.dur" />
                            </ngx-altea-label-control>

                        </div>
                    </div>

                </div>


                <div class="row mt-3">
                    <div class="col-12">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="shippingOn" name="shippingOn"
                                [(ngModel)]="object.prodSales.ship.on" />
                            <label class="form-check-label" for="shippingOn"
                                translate="objects.branch.prodSales.ship.on"></label>
                        </div>
                    </div>
                </div>


                <div class="ms-5 mt-3" *ngIf="object.prodSales.ship.on">

                    <div class="row">
                        <div class="col-4">

                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="shippingFree" name="shippingFree"
                                    [(ngModel)]="object.prodSales.ship.free" />
                                <label class="form-check-label" for="shippingFree"
                                    translate="objects.branch.prodSales.ship.free"></label>
                            </div>


                        </div>
                    </div>

                    <div class="mt-3" *ngIf="!object.prodSales.ship.free">

                        <div class="row" *ngFor="let rate of object.prodSales.ship.rates">

                            <div class="col-4">

                                <ngx-altea-label-control label="objects.branch.prodSales.ship.rates.from"
                                    for="rateFrom">
                                    <input type="number" id="rateFrom" name="rateFrom" class="form-control"
                                        [(ngModel)]="rate.from" />
                                </ngx-altea-label-control>

                            </div>

                            <div class="col-4">

                                <ngx-altea-label-control label="objects.branch.prodSales.ship.rates.cost"
                                    for="rateCost">
                                    <input type="number" id="rateCost" name="rateCost" class="form-control"
                                        [(ngModel)]="rate.cost" />
                                </ngx-altea-label-control>

                            </div>


                        </div>


                    </div>





                </div>





            </form>

        </ng-container>


    </ngx-altea-form-card-section>




    <ngx-altea-form-card-section sectionName="ui.branch.edit.sections.invoice.title" sectionId="invoice"
        [editSectionId]="editSectionId" (save)="save()" (cancel)="cancel()" (editModeChanged)="editModeChanged($event)"
        [enableSave]="!invoiceForm?.form.pristine && invoiceForm?.form.valid">

        <ng-container readonly>
            <div class="row">
                <div class="col-4">
                    <ngx-altea-label-value label="objects.branch.inv.on" valueFormat="yesNo"
                        [value]="object.inv.on"></ngx-altea-label-value>
                </div>
                <div class="col-4">
                    <ngx-altea-label-value label="objects.branch.inv.year"
                        [value]="object.inv.year"></ngx-altea-label-value>
                </div>
                <div class="col-4">
                    <ngx-altea-label-value label="objects.branch.inv.next"
                        [value]="object.inv.next"></ngx-altea-label-value>
                </div>
            </div>

            <div class="row">
                <div class="col-4">
            
                </div>
                <div class="col-4">
                    <ngx-altea-label-value label="objects.branch.acc.closed.year"
                        [value]="object.acc.closed.year"></ngx-altea-label-value>
                </div>
                <div class="col-4">
                    <ngx-altea-label-value label="objects.branch.acc.closed.month"
                        [value]="object.acc.closed.month"></ngx-altea-label-value>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-6">

                </div>
                <div class="col-6">

                </div>
            </div>
        </ng-container>

        <ng-container edit>
            <form #invoiceForm="ngForm" *ngIf="initialized">
                <div class="row">
                    <div class="col-4">

                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="invOn" name="invOn"
                                [(ngModel)]="object.inv.on" />
                            <label class="form-check-label" for="invOn" translate="objects.branch.inv.on"></label>
                        </div>

                    </div>

                    <ng-container *ngIf="object.inv.on">

                        <div class="col-4">

                            <ngx-altea-label-control label="objects.branch.inv.year" for="year">
                                <input type="number" id="year" name="year" class="form-control"
                                    [(ngModel)]="object.inv.year" />
                            </ngx-altea-label-control>

                        </div>
                        <div class="col-4">

                            <ngx-altea-label-control label="objects.branch.inv.next" for="next">
                                <input type="number" id="next" name="next" class="form-control"
                                    [(ngModel)]="object.inv.next" />
                            </ngx-altea-label-control>

                        </div>
                        
                    </ng-container>

                </div>

                <div class="row mt-3">
                    <div class="col-4">

                        <ngx-altea-label-control label="objects.branch.acc.wings.yearMonth" for="wingsYearMonth">
                            <input type="number" id="wingsYearMonth" name="wingsYearMonth" class="form-control"
                                [(ngModel)]="object.acc.wings.yearMonth" />
                        </ngx-altea-label-control>

                    </div>

                    <!-- accounting related settings -->
                    <ng-container *ngIf="object.acc">

                        <div class="col-4">

                            <ngx-altea-label-control label="objects.branch.acc.closed.year" for="closedYear">
                                <input type="number" id="closedYear" name="closedYear" class="form-control"
                                    [(ngModel)]="object.acc.closed.year" />
                            </ngx-altea-label-control>

                        </div>
                        <div class="col-4">

                            <ngx-altea-label-control label="objects.branch.acc.closed.month" for="closedMonth">
                                <input type="number" id="closedMonth" name="closedMonth" class="form-control"
                                    [(ngModel)]="object.acc.closed.month" />
                            </ngx-altea-label-control>

                        </div>
                        
                    </ng-container>
  
                </div>


                <div class="row mt-3">

                </div>
            </form>
        </ng-container>

    </ngx-altea-form-card-section>


</ng-container>