




<ng-container *ngIf="object">

    <ng-template #reminders>

        <div *ngIf="object.hasReminders()" class="mt-3"> 

            <div class="row">
                <div class="col-3" translate>dic.msgType</div>
                <div class="col-3" translate>dic.duration</div>
            </div>

            <div class="row" *ngFor="let reminder of object.reminders; let idx = index">
                <div class="col-3">{{reminder.type}}</div>
                <div class="col-3">{{reminder.dur}} {{reminder.unit}}</div>

                <div class="col-3">
                    <button type="button" class="btn btn-primary btn-sm" (click)="deleteReminder(idx)"
                        translate>dic.delete</button>
                </div>
            </div>



        </div>

    </ng-template>



    <ngx-altea-form-card-section sectionName="ui.contact.edit.sections.general.title" sectionId="general"
        [editSectionId]="editSectionId" (save)="save()" (cancel)="cancel()" (editModeChanged)="editModeChanged($event)"
        [enableSave]="!generalForm?.form.pristine && generalForm?.form.valid">

        <ng-container readonly>



            <ng-container *ngTemplateOutlet="reminders"></ng-container>
         










        </ng-container>

        <ng-container edit>

            <form #generalForm="ngForm">



                <ng-container *ngTemplateOutlet="reminders"></ng-container>


                <div class="row mt-3">
                    <div class="col-3">
    
                        <ngx-altea-label-control label="dic.msgType" [trans]="true" for="msgType">
                            <ng-select id="msgType" name="msgType" [items]="msgTypes" bindLabel="trans" bindValue="key"
                                [clearable]="false" [multiple]="false" [(ngModel)]="newReminder.type">
                            </ng-select>
                        </ngx-altea-label-control>
    
    
                    </div>
                    <div class="col-3">
                        <ngx-altea-label-control label="dic.duration" for="next-day">
                            <input type="number" id="next-day" name="next-day" class="form-control"
                                [(ngModel)]="newReminder.dur" />
                        </ngx-altea-label-control>
    
                    </div>
                    <div class="col-3">
    
                        <ngx-altea-label-control label="dic.timeUnit" [trans]="true" for="timeUnit">
                            <ng-select id="timeUnit" name="timeUnit" [items]="timeUnits" bindLabel="trans" bindValue="key"
                                [clearable]="false" [multiple]="false" [(ngModel)]="newReminder.unit">
                            </ng-select>
                        </ngx-altea-label-control>
    
                    </div>
                    <div class="col-3">
                        <button type="button" class="btn btn-primary" (click)="addReminder()"
                            translate>dic.add</button>
                    </div>
                </div>




            </form>

        </ng-container>


    </ngx-altea-form-card-section>



    <ngx-altea-form-card-section sectionName="ui.branch.edit.sections.deposit.title" sectionId="deposit"
    [editSectionId]="editSectionId" (save)="save()" (cancel)="cancel()" (editModeChanged)="editModeChanged($event)"
    help="ui.branch.edit.sections.deposit.help"
    [enableSave]="!depositForm?.form.pristine && depositForm?.form.valid">

    <ng-container readonly>

        

        <ng-container *ngIf="object.depositPct; else noDepositReadonly">

            <div class="row">
                <div class="col-6"><ngx-altea-label-value label="ui.deposit.request"
                        [value]="'' + Math.round(object.depositPct * 100)" unit="%"></ngx-altea-label-value></div>
    
            </div>
    
            <div class="row mt-3">
                <div class="col">
                    {{ 'ui.deposit.terms.info' | translate }}
                </div>
            </div>
    
            <div class="row mt-1">
                <div class="col-3" *ngIf="object.sameDayTerm">
    
                    <ngx-altea-label-value label="ui.deposit.terms.same-day" [value]="object.sameDayTerm" unit="dic.hour">
                    </ngx-altea-label-value>
    
                </div>
                <div class="col-3" *ngIf="object.nextDayTerm">
    
                    <ngx-altea-label-value label="ui.deposit.terms.next-day" [value]="object.nextDayTerm" unit="dic.hour">
                    </ngx-altea-label-value>
    
                </div>
                <div class="col-3" *ngIf="object.nextWeekTerm">
    
                    <ngx-altea-label-value label="ui.deposit.terms.next-week" [value]="object.nextWeekTerm" unit="dic.hour">
                    </ngx-altea-label-value>
    
                </div>
                <div class="col-3" *ngIf="object.nextMonthTerm">
    
                    <ngx-altea-label-value label="ui.deposit.terms.next-month" [value]="object.nextMonthTerm" unit="dic.hour">
                    </ngx-altea-label-value>
    
                </div>
            </div>



        </ng-container>


        <ng-template #noDepositReadonly>

            <span translate>ui.deposit.none</span>
            


        </ng-template>
    
    




    </ng-container>

    <ng-container edit>

        

        <form #depositForm="ngForm">


            <div class="row">
                <div class="col-3">

                    <ngx-altea-label-control label="ui.deposit.request" for="depositPct">
                        <ng-select id="depositPct" name="depositPct" [items]="depositPctgs" bindLabel="label"
                            bindValue="pct" [clearable]="false" [multiple]="false" [(ngModel)]="object.depositPct">
                        </ng-select>
                    </ngx-altea-label-control>


                </div>
                <div class="col-3"></div>
                <div class="col-3"></div>
            </div>


            <ng-container *ngIf="object.depositPct">

                <div class="row mt-3">
                    <div class="col">
                        {{ 'ui.deposit.terms.info' | translate }}
                    </div>
                </div>
    
                <div class="row mt-1">
                    <div class="col-3">
    
                        <ngx-altea-label-control label="ui.deposit.terms.same-day" for="same-day">
                            <input type="number" id="same-day" name="same-day" class="form-control"
                                [(ngModel)]="object.sameDayTerm" (change)="markAsDirty()" />
                        </ngx-altea-label-control>
    
                    </div>
                    <div class="col-3">
    
                        <ngx-altea-label-control label="ui.deposit.terms.next-day" for="next-day">
                            <input type="number" id="next-day" name="next-day" class="form-control"
                                [(ngModel)]="object.nextDayTerm" />
                        </ngx-altea-label-control>
    
                    </div>
                    <div class="col-3">
    
                        <ngx-altea-label-control label="ui.deposit.terms.next-week" for="next-week">
                            <input type="number" id="next-week" name="next-week" class="form-control"
                                [(ngModel)]="object.nextWeekTerm" />
                        </ngx-altea-label-control>
    
                    </div>
                    <div class="col-3">
    
                        <ngx-altea-label-control label="ui.deposit.terms.next-month" for="next-month">
                            <input type="number" id="next-month" name="next-month" class="form-control"
                                [(ngModel)]="object.nextMonthTerm" />
                        </ngx-altea-label-control>
    
                    </div>
                </div>

                <div class="row">
                    <div class="col help">
                        Stel hierboven in hoeveel uur uw klanten de tijd hebben om hun voorschot te betalen afhankelijk van het tijdstip van reserveren.
                    </div>
                </div>

            </ng-container>






        </form>

    </ng-container>


</ngx-altea-form-card-section>





</ng-container>