<div class="row mb-4">
    <div class="col-12">
        <h3>{{ 'menu.subscriptions.label' | translate }}</h3>
    </div>
</div>


<div class="row">
    <div class="col-12 d-flex justify-content-center">
        <ul class="list-group" style="width: 100%;" *ngIf="objects">
            <li class="list-group-item" *ngFor="let object of objects" (click)="select(object)">

                <div class="row">
                    <div class="col-12">{{ object.name }}</div>
                    
                </div>
                <div class="row">
                    <div class="col-12">{{ object.contact.name }}

                        <span class="float-end">{{object.usedQty}}/{{object.totalQty}}</span>
                    </div>
                </div>

                <ng-container *ngIf="object.hasOptions()">

                    <ng-container *ngFor="let option of object.options">
                        <div class="row">
                            <div class="col ms-4">{{ option.name }}</div>
                        </div>
                        <div class="row" *ngFor="let value of option.values">
                            <div class="col-3"></div>
                            <div class="col">{{ value.name }}</div>
                        </div>
                    </ng-container>

                </ng-container>
              

            </li>
        </ul>
    </div>

</div>