<div class="row mb-4">
    <div class="col-12">
        <h3>{{ 'menu.subscriptions.label' | translate }}</h3>
    </div>
</div>


<div class="row">
    <div class="col-12 d-flex justify-content-center">
        <ul class="list-group" style="width: 100%;" *ngIf="objects">
            <li class="list-group-item" *ngFor="let object of objects" (click)="select(object)">

                <div class="row">
                    <div class="col-12">{{ object.name }}</div>
                    <!-- <div class="col-4">{{ object.used }}/{{ object.value }}</div>
                    <div class="col-4 d-flex justify-content-end">{{ object.crea | date: sessionSvc.formats.date }}</div> -->
                </div>
                <div class="row">
                    <div class="col-12">{{ object.contact.name }}

                        <span class="float-end">{{object.usedQty}}/{{object.totalQty}}</span>
                    </div>
                </div>

                <!-- <i class="{{ResourceTypeIcons[contact.type]}}"></i> &nbsp;  -->
<!-- 
                <div class="row">
                    <div class="col">{{object.fromName}} {{object.fromEmail}}</div>
                </div> -->



                <!-- <i class="fa-solid fa-circle float-end" [style.color]="contact.color"></i> -->

            </li>
        </ul>
    </div>

</div>