<ngx-altea-search-product #searchProductModal (select)="addNewProductItem($event)"></ngx-altea-search-product>


<!-- 
<button type="button" class="btn btn-primary btn-sm" (click)="searchProduct()">Zoek product</button> -->

<!-- 
 -->
<ngx-altea-form-card-section
    *ngIf="product && (product.sub == ProductSubType.bundle || product.sub === ProductSubType.subs)"
    sectionName="ui.product.edit.sections.items.title" sectionId="items" [editSectionId]="parent.editSectionId"
    [showBody]="!product.hasItems()" icon="fa-duotone fa-credit-card" (save)="save()" (cancel)="cancel()"
    (editModeChanged)="editModeChanged($event)">

    <ng-container readonly>

        <div *ngIf="!product.hasItems()" [innerHTML]="'ui.product.edit.sections.items.none' | translate">

        </div>
    </ng-container>



    <ng-container outside-body>


        <ul class="list-group list-group-flush">

            <ng-container *ngIf="product.hasItems()">
  

                <li class="list-group-item" *ngFor="let item of product.items; let idx = index">


                    <ng-container *ngIf="item !== itemInEdit; else editItem">

                        <div class="row">

                            <div class="col">{{getQty(item)}} x {{item.name}}</div>

                            <div class="col">
                                <ul>
                                    <!-- item.optionsWithValues -->
                                    <li *ngFor="let option of item.options; let idx2 = index">
                                        {{option.name}}:

                                        <ng-container *ngIf="option.values">
                                            <ng-container *ngIf="Array.isArray(option.values)">
                                                <span
                                                    *ngFor="let val of option.values; let idx3 = index">{{val?.name}}</span>
                                            </ng-container>
                                            <!-- 
                                            <ng-container *ngIf="!Array.isArray(option.values)">
                                                {{<option value="" class="values"></option>.name}}
                                            </ng-container>
 -->

                                        </ng-container>


                                    </li>
                                </ul>

                            </div>

                            <ng-container *ngTemplateOutlet="editControls">
                            </ng-container>
                        </div>
                    </ng-container>

                    <ng-template #editItem>

                        <div class="row">
                            <div class="col-5">

                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="optionQty" name="optionQty"
                                        [(ngModel)]="item.optionQty" />
                                    <label class="form-check-label" for="optionQty"
                                        translate="objects.productItem.optionQty"></label>
                                </div>



                            </div>
                            <div class="col-4">

                                <ng-container *ngIf="item.optionQty">

                                    <ng-select id="qtyFromOption" name="qtyFromOption" [items]="product.options"
                                        bindLabel="name" bindValue="id" [clearable]="false" [multiple]="false"
                                        [(ngModel)]="item.optionId">

                                    </ng-select>

                                </ng-container>

                            </div>
                        </div>


                        <div class="row">

                            <div class="col-4 d-flex align-items-start pt-2">

                                <div class="d-flex align-items-center">

                                    <ng-container *ngIf="!item.optionQty">
                                        <ng-select id="qty" name="qty" style="width: 60px;" [items]="qtyArray"
                                            [clearable]="false" [multiple]="false" [(ngModel)]="item.qty">
                                        </ng-select>


                                    </ng-container>


                                    <span *ngIf="item.optionQty">{{getQty(item)}}</span>
                                    &nbsp;&nbsp;x&nbsp;

                                    <div>{{item.name}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row ms-3">
                            <div class="col">

                                <ul *ngIf="dependingProduct">
                                    <li class="mt-2" *ngFor="let option of dependingProduct.options; let idx2 = index">

                                            <div class="row">
                                                <div class="col-4">{{option.name}}:</div>
                                                <div class="col-4">
    
                                                    <ngx-altea-label-control label="objects.productItem.option.mode" [trans]="true"
                                                        for="gender">
                                                        <ng-select *ngIf="init" id="optionMode" name="optionMode" [items]="optionModes"
                                                            bindLabel="trans" bindValue="key" [clearable]="false"
                                                            [multiple]="false" [(ngModel)]="item.getOption(option).mode">
                                                        </ng-select>
                                                    </ngx-altea-label-control>
    
    
    
                                                </div>
                                                <div class="col-4">
                                                    <ng-select id="optionValues" name="optionValues" *ngIf="item.getOption(option).mode == 'pre'"
                                                        [items]="itemOptionValues.get(option.id)" bindLabel="name"
                                                        [clearable]="true" [multiple]="false"
                                                        [(ngModel)]="item.getOption(option).values[0]">
                                                    </ng-select>
                                                </div>
                                            </div>
    

                           

                                    </li>
                                </ul>


                            </div>

                            <ng-container *ngTemplateOutlet="editControls">
                            </ng-container>
                        </div>
                    </ng-template>



                    <!-- 
                    <div class="col-1" *ngIf="sectionInEdit(ListSectionMode.readOnly)">

                        <ng-container>
                            <i class="fas fa-trash float-end" (click)="deleteItem(item)"></i>
                            <i class="fas fa-pen float-end me-3" (click)="toggleEditItem($event, item, idx)"></i>
                        </ng-container>

                    </div> -->


                    <ng-template #editControls>
                        <div class="col-1" *ngIf="sectionInEdit(ListSectionMode.readOnly)">

                            <ng-container>
                                <i class="fas fa-trash float-end" (click)="deleteItem(item)"></i>
                                <i class="fas fa-pen float-end me-3" (click)="toggleEditItem($event, item, idx)"></i>
                            </ng-container>

                        </div>
                    </ng-template>



                </li>
            </ng-container>

            <li *ngIf="sectionInEdit(ListSectionMode.readOnly)" class="list-group-item"
                style="text-align: center; cursor: pointer;" (click)="startAdd()">
                <i class="fa-duotone fa-circle-plus fa-xl"></i> &nbsp; {{ 'ui.product.edit.sections.items.add-btn' |
                translate
                }}
            </li>


        </ul>
    </ng-container>



</ngx-altea-form-card-section>