<!-- 
<div class="row">
    <div class="col-4">
        
    </div>
    <div class="col-4"></div>
    <div class="col-4"></div>
</div>
 -->



<!-- 
<button type="button" class="ms-2 btn btn-primary btn-sm" (click)="changeUser()">{{userName()}}</button> -->

<ng-container *ngIf="init && sessionSvc.humanResource">

    <h2>{{sessionSvc.humanResource.shortOrName()}}</h2>

    <!--     [style.color]="presence?'green':'blue'" -->

    <button type="button" class="ms-2 btn {{presence?'btn-success':'btn-primary'}}" [disabled]="presence"
        (click)="startOfDay()" translate>ui.staff.start-day</button>

    <button type="button" class="ms-2 btn {{break?'btn-success':'btn-primary'}}" [disabled]="break"
        (click)="startBreak()" translate>ui.staff.start-break</button>

    <button type="button" *ngIf="presence" class="ms-2 btn {{presence?.end?'btn-success':'btn-primary'}}"
        [disabled]="presence?.end" (click)="endOfDay()" translate>ui.staff.end-day</button>

    <span class="ms-2" *ngIf="breakStarted">Smakelijk!</span>

    <button type="button" class="ms-5 btn btn-info" (click)="toggleHolidays()" translate>ui.staff.my-holidays</button>
</ng-container>



<ng-container *ngIf="showHolidays">

    <h4 class="mt-5">Verlof aanvragen</h4>

    <span *ngIf="!hasHolidayRequests()">Geen verlofaanvragen</span>

    <div class="row" *ngFor="let req of holidayRequests">
        <div class="col-3">{{req.startDate | date:'dd/MM/yy'}}</div>
        <div class="col-3">{{req.endDate | date:'dd/MM/yy'}}</div>
        <div class="col-3"><i class="fas fa-trash" (click)="deletePlanning(req, holidayRequests)"></i>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-4">
            <input class="form-control" #drp="bsDaterangepicker" bsDaterangepicker [(ngModel)]="holidayDateRange"
                [bsConfig]="{useUtc: true}" onkeydown="return false" (bsValueChange)="rangePickerChanged($event)">
        </div>
        <div class="col-6">
            <button type="button" *ngIf="holidayDateRange?.length == 2" class="ms-2 btn btn-primary"
                (click)="requestHoliday()" translate>ui.staff.request-holiday</button>
        </div>
    </div>

    <ng-container *ngIf="autoApprove">

        <ng-container *ngIf="autoApprove.approved">

            <div class="row mt-3">
                <div class="col">Jouw verlofaanvraag is in orde!</div>
            </div>

        </ng-container>


        <ng-container *ngIf="!autoApprove.approved">

            <div class="row mt-3">
                <div class="col">Feedback over jouw verlofaanvraag:</div>
            </div>

            <div class="row" *ngFor="let issue of autoApprove.issues">
                <div class="col-1"></div>
                <div class="col">{{issue}}</div>
            </div>
        </ng-container>

    </ng-container>




    <h4 class="mt-5">Mijn verlof</h4>

    <span *ngIf="!hasHolidays()">Geen verlof gepland</span>

    <div class="row" *ngFor="let hol of holidays">
        <div class="col-3">{{hol.startDate | date:'dd/MM/yy'}}</div>
        <div class="col-3">{{hol.endDate | date:'dd/MM/yy'}}</div>
        <div class="col-3"></div>
        <div class="col-3"></div>
    </div>


</ng-container>